Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

update immich ingres
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

update immich ingres
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

enable OIDC for immich
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

enable OIDC for immich
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

Adjust immich secret reload
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Adjust immich secret reload
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

immmich conf
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

immmich conf
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

try get immich config to actually update
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

try get immich config to actually update
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

secret realoding immich
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

secret realoding immich
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

fucking reload the damn config
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

fucking reload the damn config
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

try again
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

try again
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

wtf is wrong with this thing
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

wtf is wrong with this thing
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

fix immich auth url
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/kustomization.yaml
  flux/flux.just
Labels: cluster/main

fix immich auth url
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/kustomization.yaml
  flux/flux.just
Labels: cluster/main

Try to fix it ....
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  flux/flux.just
Labels: cluster/main

Try to fix it ....
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  flux/flux.just
Labels: cluster/main

fix immich kustomization
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

fix immich kustomization
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Feat: Paperless
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/personal/paperless/app/externalsecret.yaml
  clusters/main/apps/personal/paperless/app/gatus.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/app/release.yaml
  clusters/main/apps/personal/paperless/ks.yaml
Labels: cluster/main

Feat: Paperless
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/personal/paperless/app/externalsecret.yaml
  clusters/main/apps/personal/paperless/app/gatus.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/app/release.yaml
  clusters/main/apps/personal/paperless/ks.yaml
Labels: cluster/main

fix secret dep
  clusters/main/apps/personal/paperless/ks.yaml
Labels: cluster/main

fix secret dep
  clusters/main/apps/personal/paperless/ks.yaml
Labels: cluster/main

fix paperless ks
  clusters/main/apps/personal/paperless/ks.yaml
Labels: cluster/main

fix paperless ks
  clusters/main/apps/personal/paperless/ks.yaml
Labels: cluster/main

Fix dcsi path
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
Labels: area/infrastructure, area/storage

Fix dcsi path
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
Labels: area/infrastructure, area/storage

Feat: Add cert-manager cron for truenas server
  infrastructure/controllers/cert-manager/cert-manager/certificates/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/truenas.yml
  infrastructure/controllers/cert-manager/cert-manager/crons/externalsecret.yaml
  infrastructure/controllers/cert-manager/cert-manager/crons/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/crons/scripts/sync-truenas-cert.sh
  infrastructure/controllers/cert-manager/cert-manager/crons/truenas-cert-sync.yaml
Labels: area/infrastructure, area/security

Feat: Add cert-manager cron for truenas server
  infrastructure/controllers/cert-manager/cert-manager/certificates/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/truenas.yml
  infrastructure/controllers/cert-manager/cert-manager/crons/externalsecret.yaml
  infrastructure/controllers/cert-manager/cert-manager/crons/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/crons/scripts/sync-truenas-cert.sh
  infrastructure/controllers/cert-manager/cert-manager/crons/truenas-cert-sync.yaml
Labels: area/infrastructure, area/security

Add flux defs for truenas cron
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
Labels: area/infrastructure, area/security

Add flux defs for truenas cron
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
Labels: area/infrastructure, area/security

Fix truenas cron filename
  infrastructure/controllers/cert-manager/cert-manager/certificates/truenas.yaml
Labels: area/infrastructure, area/security

Fix truenas cron filename
  infrastructure/controllers/cert-manager/cert-manager/certificates/truenas.yaml
Labels: area/infrastructure, area/security

Fix script name
  infrastructure/controllers/cert-manager/cert-manager/crons/sync-truenas-cert.yaml
Labels: area/infrastructure, area/security

Fix script name
  infrastructure/controllers/cert-manager/cert-manager/crons/sync-truenas-cert.yaml
Labels: area/infrastructure, area/security

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions
