Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

fix immich init db version
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Use onedrop chart for imich init
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

update immich ingres
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

init v
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

init v
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Set immich to use ne DB
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure, cluster/main

fix immich init db version
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Fix immich config again
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

Revert "Add vectors to postgres"
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure, cluster/main

fix immich config
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

update immich ingres
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

fix immich auth url
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/kustomization.yaml
  flux/flux.just
Labels: cluster/main

Fix immich conf
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

Use onedrop chart for imich init
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Set immich to use ne DB
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure, cluster/main

iommich
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

secret realoding immich
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

try again
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

iommich
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

Revert "Update cloudnative-pg chart to include vecto.rs extension"
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

wtf is wrong with this thing
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

enable OIDC for immich
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

Deploy seperate pg cluster for immich
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-externalsecret.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/infrastructure

wtf is wrong with this thing
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

secret realoding immich
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

add immich db service
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/service.yaml
Labels: area/infrastructure, cluster/main

fucking reload the damn config
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Update immich
  clusters/main/apps/personal/immich/app/configmap.yaml
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

try get immich config to actually update
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Revert "Add vectors to postgres"
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure, cluster/main

fix immich config
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

Fix immich double nested dir
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/configmap.yaml
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/immich/app/kustomization.yaml
  clusters/main/apps/personal/immich/app/pvc.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  flux/flux.just
Labels: cluster/main

Add vectors to postgres
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure, cluster/main

Update cloudnative-pg chart to include vecto.rs extension
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

Adjust immich secret reload
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

try get immich config to actually update
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

fix immich kustomization
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Deploy seperate pg cluster for immich
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-externalsecret.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/infrastructure

Revert "Update cloudnative-pg chart to include vecto.rs extension"
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

Feat: Paperless + fixes
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  clusters/main/apps/personal/paperless/app/externalsecret.yaml
  clusters/main/apps/personal/paperless/app/gatus.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/app/release.yaml
  clusters/main/apps/personal/paperless/ks.yaml
  infrastructure/bootstrap/debug-output.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/truenas.yaml
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
  infrastructure/controllers/cert-manager/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/configmap.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/externalsecret.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/rbac.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/ks.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/networking/cloudflared/app/release.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
  justfile
Labels: area/infrastructure, area/security, area/storage, cluster/main

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions
