Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

Update: Add renovate comments to custom deps
  infrastructure/controllers/system-upgrade/system-upgrade-controller/ks.yaml
  infrastructure/talos/talconfig.yaml
Labels: area/infrastructure, area/talos

Delete unused directory
  apps/base/kustomization.yaml
  apps/monitoring/kustomization.yaml
  apps/production/kustomization.yaml
Labels: area/apps, area/monitoring

Update readme
  README.md
Labels: area/docs, type/documentation

Use selfhosted container repository
  clusters/main/apps/tools/atuin/app/release.yaml
  clusters/main/apps/tools/wakapi/app/release.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set/app/release.yaml
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
Labels: area/infrastructure, area/monitoring, cluster/main

Add TODO doc
  TODO.md
Labels: type/documentation

Add dragonfly-db (redis replacement)
  infrastructure/controllers/database/dragonfly/cluster/cluster.yaml
  infrastructure/controllers/database/dragonfly/cluster/gatus.yaml
  infrastructure/controllers/database/dragonfly/cluster/kustomization.yaml
  infrastructure/controllers/database/dragonfly/cluster/podmonitor.yaml
  infrastructure/controllers/database/dragonfly/ks.yaml
  infrastructure/controllers/database/dragonfly/operator/kustomization.yaml
  infrastructure/controllers/database/dragonfly/operator/rbac.yaml
  infrastructure/controllers/database/dragonfly/operator/release.yaml
Labels: area/infrastructure

truenas folder
  clusters/truenas/.gitkeep
Labels: none

Fix: dragonfly-db ky.yaml
  infrastructure/controllers/database/dragonfly/ks.yaml
Labels: area/infrastructure

Update dragonfly install/upgrade params
  infrastructure/controllers/database/dragonfly/operator/release.yaml
Labels: area/infrastructure

Feat: Add SMTP relay
  infrastructure/controllers/networking/kustomization.yaml
  infrastructure/controllers/networking/smtp-relay/app/config/maddy.conf
  infrastructure/controllers/networking/smtp-relay/app/externalsecret.yaml
  infrastructure/controllers/networking/smtp-relay/app/kustomization.yaml
  infrastructure/controllers/networking/smtp-relay/app/networkpolicy.yaml
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
  infrastructure/controllers/networking/smtp-relay/ks.yaml
Labels: area/infrastructure

feat: add authentik
  infrastructure/controllers/security/authentik/app/externalsecret.yaml
  infrastructure/controllers/security/authentik/app/gatus.yaml
  infrastructure/controllers/security/authentik/app/kustomization.yaml
  infrastructure/controllers/security/authentik/app/release.yaml
  infrastructure/controllers/security/authentik/ks.yaml
  infrastructure/controllers/security/kustomization.yaml
Labels: area/infrastructure

fix: smtp-relay inclusion
  infrastructure/controllers/networking/kustomization.yaml
Labels: area/infrastructure

fix: remove ratelimit from maddy conf
  infrastructure/controllers/networking/smtp-relay/app/config/maddy.conf
Labels: area/infrastructure

Try add TLS to maddy
  infrastructure/controllers/networking/smtp-relay/app/config/maddy.conf
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
  infrastructure/controllers/security/authentik/app/release.yaml
Labels: area/infrastructure

Maddy requires absolute tls cert paths
  infrastructure/controllers/networking/smtp-relay/app/config/maddy.conf
Labels: area/infrastructure

Mount certificates for smtp-relay
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
  infrastructure/controllers/networking/smtp-relay/ks.yaml
Labels: area/infrastructure

Go back to tls off internally
  infrastructure/controllers/networking/smtp-relay/app/config/maddy.conf
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
  infrastructure/controllers/networking/smtp-relay/ks.yaml
Labels: area/infrastructure

Add mising repository for ARC
  clusters/main/repositories/oci/actions-runner-controller.yaml
  clusters/main/repositories/oci/kustomization.yaml
Labels: cluster/main

Archive Hajimari
  .archive/hajimari/app/kustomization.yaml
  .archive/hajimari/app/release.yaml
  .archive/hajimari/ks.yaml
  TODO.md
  clusters/main/apps/home/kustomization.yaml
  clusters/main/repositories/helm/kustomization.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/networking/echo-server/app/release.yaml
  infrastructure/controllers/security/onepassword-connect/app/release.yaml
Labels: area/infrastructure, area/monitoring, cluster/main, type/documentation

Add authentic repository
  clusters/main/repositories/helm/authentik.yaml
  clusters/main/repositories/helm/kustomization.yaml
Labels: cluster/main

Fix authentic namespaces
  infrastructure/controllers/security/authentik/app/externalsecret.yaml
  infrastructure/controllers/security/authentik/app/kustomization.yaml
Labels: area/infrastructure

Setup authentik policies and fix some gatus reports
  clusters/main/apps/home/hajimari/app/kustomization.yaml
  clusters/main/apps/home/hajimari/app/release.yaml
  clusters/main/apps/home/hajimari/ks.yaml
  infrastructure/controllers/kyverno/kyverno/policies/authentik.yaml
  infrastructure/controllers/kyverno/kyverno/policies/ingress.yaml
  infrastructure/controllers/monitoring/gatus/app/config.yaml
  infrastructure/controllers/security/authentik/app/release.yaml
Labels: area/infrastructure, area/monitoring, cluster/main

Gatus config updates
  infrastructure/controllers/monitoring/gatus/app/config.yaml
Labels: area/infrastructure, area/monitoring

Gatus config
  infrastructure/controllers/monitoring/gatus/app/config.yaml
Labels: area/infrastructure, area/monitoring

Healthcheck updates
  TODO.md
  infrastructure/controllers/monitoring/gatus/app/config.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/config/alertmanager.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/config/kube-state-metrics.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/ks.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/release.yaml
Labels: area/infrastructure, area/monitoring, type/documentation

Disable kube stack temp to fix stuck pod
  infrastructure/controllers/monitoring/kustomization.yaml
Labels: area/infrastructure, area/monitoring

Add kube-monitoring back
  infrastructure/controllers/monitoring/kustomization.yaml
Labels: area/infrastructure, area/monitoring

cert -manager service monitor
  infrastructure/controllers/cert-manager/cert-manager/app/release.yaml
Labels: area/infrastructure, area/security

try fix certmanager discovery
  infrastructure/controllers/cert-manager/cert-manager/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
Labels: area/infrastructure, area/monitoring, area/security

cert-manager fix?
  infrastructure/controllers/cert-manager/cert-manager/app/prometheusrule.yaml
  infrastructure/controllers/cert-manager/cert-manager/app/release.yaml
  infrastructure/controllers/cert-manager/namespace.yaml
Labels: area/infrastructure, area/security

update kube-prometheus-stack
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
Labels: area/infrastructure, area/monitoring

Update volsync
  infrastructure/controllers/storage/volsync/app/prometheusrule.yaml
  infrastructure/controllers/storage/volsync/app/release.yaml
  infrastructure/controllers/storage/volsync/ks.yaml
Labels: area/infrastructure, area/storage

volsync
  infrastructure/controllers/storage/volsync/ks.yaml
Labels: area/infrastructure, area/storage

Try fix actions-runner-controller
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set-controller/app/release.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set/app/kustomization.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set/app/release.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set/ks.yaml
  infrastructure/controllers/actions-runner-system/namespace.yaml
Labels: area/infrastructure

Fix: add missing security config to talos for actions-runner
  infrastructure/talos/talconfig.yaml
Labels: area/infrastructure, area/talos

First attempt at connecting to NAS and setting up Immich
  .archive/hajimari/app/kustomization.yaml
  .archive/hajimari/app/release.yaml
  .archive/hajimari/ks.yaml
  .github/workflows/ansible.yml
  TODO.md
  clusters/main/apps/personal/immich/app/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/app/configmap.yaml
  clusters/main/apps/personal/immich/app/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/app/gatus.yaml
  clusters/main/apps/personal/immich/app/app/kustomization.yaml
  clusters/main/apps/personal/immich/app/app/pvc.yaml
  clusters/main/apps/personal/immich/app/app/release.yaml
  clusters/main/apps/personal/immich/ks.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/personal/namespace.yaml
  clusters/main/vars/cluster-secrets.secret.sops.yaml
  infrastructure/controllers/storage/democratic-csi/iscsi/externalsecret.yaml
  infrastructure/controllers/storage/democratic-csi/iscsi/kustomization.yaml
  infrastructure/controllers/storage/democratic-csi/iscsi/release.yaml
  infrastructure/controllers/storage/democratic-csi/ks.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/kustomization.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/release.yaml
  infrastructure/controllers/storage/kustomization.yaml
Labels: area/github, area/infrastructure, area/security, area/storage, cluster/main, type/documentation

fix some app ks.yaml's
  clusters/main/apps/personal/immich/ks.yaml
  clusters/main/apps/personal/namespace.yaml
  clusters/main/apps/tools/wakapi/ks.yaml
Labels: cluster/main

Adjust immich PVC to use truenas-nfs
  clusters/main/apps/personal/immich/app/app/pvc.yaml
Labels: cluster/main

Try fix immich
  clusters/main/apps/personal/immich/app/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/app/kustomization.yaml
  clusters/main/apps/personal/immich/app/app/machine-learning.yaml
  clusters/main/apps/personal/immich/app/app/release.yaml
  clusters/main/apps/tools/wakapi/app/release.yaml
Labels: cluster/main

Fix some URLS
  clusters/main/apps/personal/immich/app/app/config/immich.config.json
  infrastructure/controllers/security/authentik/app/release.yaml
Labels: area/infrastructure, cluster/main

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions
