Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions

Fix onepassword vaulk name
  infrastructure/controllers/external-secrets/onepassword/app/clustersecretstore.yaml
Labels: area/infrastructure

Add .envrc
  .gitignore
Labels: none

Add .envrc
  .gitignore
Labels: none

remove stale ref to node-feature-discovery
  infrastructure/controllers/kube-system/intel-device-plugin/ks.yaml
Labels: area/infrastructure

remove stale ref to node-feature-discovery
  infrastructure/controllers/kube-system/intel-device-plugin/ks.yaml
Labels: area/infrastructure

fix gateway depends
  infrastructure/controllers/kube-system/cilium/ks.yaml
Labels: area/infrastructure

fix gateway depends
  infrastructure/controllers/kube-system/cilium/ks.yaml
Labels: area/infrastructure

Fix more sources
  infrastructure/controllers/monitoring/kustomization.yaml
  infrastructure/controllers/monitoring/loki/app/release.yaml
  infrastructure/controllers/monitoring/prometheus-operator-crds/app/kustomization.yaml
  infrastructure/controllers/monitoring/prometheus-operator-crds/app/release.yaml
  infrastructure/controllers/monitoring/prometheus-operator-crds/ks.yaml
  infrastructure/flux/meta/repositories/helm/kustomization.yaml
Labels: area/infrastructure, area/monitoring

Fix more sources
  infrastructure/controllers/monitoring/kustomization.yaml
  infrastructure/controllers/monitoring/loki/app/release.yaml
  infrastructure/controllers/monitoring/prometheus-operator-crds/app/kustomization.yaml
  infrastructure/controllers/monitoring/prometheus-operator-crds/app/release.yaml
  infrastructure/controllers/monitoring/prometheus-operator-crds/ks.yaml
  infrastructure/flux/meta/repositories/helm/kustomization.yaml
Labels: area/infrastructure, area/monitoring

updates
  bootstrap/helmfile.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/kustomization.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/repository.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
  infrastructure/controllers/storage/volsync/app/release.yaml
Labels: area/infrastructure, area/monitoring, area/storage

updates
  bootstrap/helmfile.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/kustomization.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/repository.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
  infrastructure/controllers/storage/volsync/app/release.yaml
Labels: area/infrastructure, area/monitoring, area/storage

swith clouflare token
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
Labels: area/infrastructure

swith clouflare token
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
Labels: area/infrastructure

Update cloudflare token in cert-manager
  infrastructure/controllers/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/infrastructure, area/security

Update cloudflare token in cert-manager
  infrastructure/controllers/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/infrastructure, area/security

update readme
  README.md
Labels: area/docs, type/documentation

update readme
  README.md
Labels: area/docs, type/documentation
