Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/docs, area/infrastructure, area/talos, area/bootstrap, area/taskfile, cluster/aeon

Update renovate
  .renovate/autoMerge.json5
  .renovate/clusters.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
Labels: none

Update renovate
  .renovate/autoMerge.json5
  .renovate/clusters.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
Labels: none

Update kube-system and netowkring controllers
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
  infrastructure/controllers/kube-system/cilium/app/helm/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/cilium/app/helm/values.yaml
  infrastructure/controllers/kube-system/cilium/app/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/helm/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/coredns/app/helm/values.yaml
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/repository.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/gpu/release.yaml
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/kustomization.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/repository.yaml
  infrastructure/controllers/kube-system/spegel/app/helm/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/spegel/app/helm/values.yaml
  infrastructure/controllers/kube-system/spegel/app/kustomization.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/repository.yaml
  infrastructure/controllers/networking/echo-server/app/release.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

Update kube-system and netowkring controllers
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
  infrastructure/controllers/kube-system/cilium/app/helm/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/cilium/app/helm/values.yaml
  infrastructure/controllers/kube-system/cilium/app/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/helm/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/coredns/app/helm/values.yaml
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/repository.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/gpu/release.yaml
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/kustomization.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/repository.yaml
  infrastructure/controllers/kube-system/spegel/app/helm/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/spegel/app/helm/values.yaml
  infrastructure/controllers/kube-system/spegel/app/kustomization.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/repository.yaml
  infrastructure/controllers/networking/echo-server/app/release.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

update vikunja public url
  clusters/aeon/apps/personal/vikunja/app/release.yaml
Labels: cluster/aeon

update vikunja public url
  clusters/aeon/apps/personal/vikunja/app/release.yaml
Labels: cluster/aeon

reorder vikunja release
  clusters/aeon/apps/personal/vikunja/app/release.yaml
Labels: cluster/aeon

reorder vikunja release
  clusters/aeon/apps/personal/vikunja/app/release.yaml
Labels: cluster/aeon

debug authentik
  clusters/aeon/apps/security/authentik/app/httproute.yaml
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
Labels: cluster/aeon

debug authentik
  clusters/aeon/apps/security/authentik/app/httproute.yaml
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
Labels: cluster/aeon

disable authentik
  clusters/aeon/apps/security/kustomization.yaml
Labels: cluster/aeon

disable authentik
  clusters/aeon/apps/security/kustomization.yaml
Labels: cluster/aeon

temp disable n8n
  clusters/aeon/apps/tools/kustomization.yaml
Labels: cluster/aeon

temp disable n8n
  clusters/aeon/apps/tools/kustomization.yaml
Labels: cluster/aeon

fix vikunja publicurl
  clusters/aeon/apps/personal/vikunja/app/release.yaml
Labels: cluster/aeon

fix vikunja publicurl
  clusters/aeon/apps/personal/vikunja/app/release.yaml
Labels: cluster/aeon

enable authentik again
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
  clusters/aeon/apps/security/kustomization.yaml
Labels: cluster/aeon

enable authentik again
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
  clusters/aeon/apps/security/kustomization.yaml
Labels: cluster/aeon

update homepage var
  clusters/aeon/apps/personal/homepage/app/externalsecret.yaml
Labels: cluster/aeon

update homepage var
  clusters/aeon/apps/personal/homepage/app/externalsecret.yaml
Labels: cluster/aeon

try route in realease authentik
  clusters/aeon/apps/security/authentik/app/httproute.yaml
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

try route in realease authentik
  clusters/aeon/apps/security/authentik/app/httproute.yaml
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

authentik httproute
  clusters/aeon/apps/security/authentik/app/httproute.yaml
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

authentik httproute
  clusters/aeon/apps/security/authentik/app/httproute.yaml
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

add debug logging to external-dns-unifi
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

add debug logging to external-dns-unifi
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

disbale authentik httproute
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
Labels: cluster/aeon

disbale authentik httproute
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
Labels: cluster/aeon

try additional objects
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

try additional objects
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

try again
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

try again
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

fix
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

fix
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

Fix additionalObjects format in Authentik HelmRelease
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

Fix additionalObjects format in Authentik HelmRelease
  clusters/aeon/apps/security/authentik/app/release.yaml
Labels: cluster/aeon

try rollback
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

try rollback
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

remove httproute file from authentik
  clusters/aeon/apps/security/authentik/app/httproute.yaml
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
Labels: cluster/aeon

remove httproute file from authentik
  clusters/aeon/apps/security/authentik/app/httproute.yaml
  clusters/aeon/apps/security/authentik/app/kustomization.yaml
Labels: cluster/aeon

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "talos/**/*"

area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

# Clusters
cluster/aeon:
  - changed-files:
    - any-glob-to-any-file: "clusters/aeon/**/*"

# Size labels are automatically handled by GitHub Actions
