Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

update renovate conf
  .github/renovate.json5
  .github/renovate/customManagers.json5
Labels: area/github, type/dependency

update cilium conf
  infrastructure/controllers/kube-system/cilium/app/resources/values.yaml
Labels: area/infrastructure

update cilium conf
  infrastructure/controllers/kube-system/cilium/app/resources/values.yaml
Labels: area/infrastructure

Update l3
  infrastructure/controllers/kube-system/cilium/configs/l3.yaml
Labels: area/infrastructure

Update l3
  infrastructure/controllers/kube-system/cilium/configs/l3.yaml
Labels: area/infrastructure

more cilium fuckery
  infrastructure/controllers/kube-system/cilium/app/resources/values.yaml
  infrastructure/controllers/kube-system/cilium/configs/l3.yaml
  infrastructure/controllers/kube-system/cilium/configs/pool.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
Labels: area/infrastructure

more cilium fuckery
  infrastructure/controllers/kube-system/cilium/app/resources/values.yaml
  infrastructure/controllers/kube-system/cilium/configs/l3.yaml
  infrastructure/controllers/kube-system/cilium/configs/pool.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
Labels: area/infrastructure

add sops to flux
  infrastructure/flux/cluster/ks.yaml
Labels: area/infrastructure

add sops to flux
  infrastructure/flux/cluster/ks.yaml
Labels: area/infrastructure

fix flux url
  infrastructure/controllers/flux-system/flux-operator/instance/resources/values.yaml
Labels: area/flux, area/infrastructure

fix flux url
  infrastructure/controllers/flux-system/flux-operator/instance/resources/values.yaml
Labels: area/flux, area/infrastructure

rename age-key sops file
  infrastructure/flux/components/kustomization.yaml
  infrastructure/flux/components/sops/kustomization.yaml
  infrastructure/flux/components/sops/secret.sops.yaml
Labels: area/infrastructure, area/security

rename age-key sops file
  infrastructure/flux/components/kustomization.yaml
  infrastructure/flux/components/sops/kustomization.yaml
  infrastructure/flux/components/sops/secret.sops.yaml
Labels: area/infrastructure, area/security

Fix flux sops
  infrastructure/bootstrap/templates/resources.yaml.tpl
Labels: area/infrastructure

Fix flux sops
  infrastructure/bootstrap/templates/resources.yaml.tpl
Labels: area/infrastructure

Fix old vars
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
Labels: area/infrastructure, area/storage

Fix old vars
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
Labels: area/infrastructure, area/storage

Update bootstrap task
  .taskfiles/bootstrap/Taskfile.yaml
Labels: none

Update bootstrap task
  .taskfiles/bootstrap/Taskfile.yaml
Labels: none

just tidy
  infrastructure/flux/flux.just
  justfile
Labels: area/infrastructure

just tidy
  infrastructure/flux/flux.just
  justfile
Labels: area/infrastructure

fix missing timestamp var
  clusters/main/apps/tools/atuin/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/release.yaml
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure, area/monitoring, cluster/main

fix missing timestamp var
  clusters/main/apps/tools/atuin/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/release.yaml
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure, area/monitoring, cluster/main

Fix that stupid llllll typo, damn keyboard
  infrastructure/controllers/kube-system/cilium/ks.yaml
  infrastructure/controllers/kube-system/coredns/ks.yaml
  infrastructure/controllers/kube-system/descheduler/ks.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/ks.yaml
  infrastructure/controllers/kube-system/irqbalance/ks.yaml
  infrastructure/controllers/kube-system/metrics-server/ks.yaml
  infrastructure/controllers/kube-system/node-feature-discovery/ks.yaml
  infrastructure/controllers/kube-system/reloader/ks.yaml
  infrastructure/controllers/kube-system/spegel/ks.yaml
Labels: area/infrastructure

Fix that stupid llllll typo, damn keyboard
  infrastructure/controllers/kube-system/cilium/ks.yaml
  infrastructure/controllers/kube-system/coredns/ks.yaml
  infrastructure/controllers/kube-system/descheduler/ks.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/ks.yaml
  infrastructure/controllers/kube-system/irqbalance/ks.yaml
  infrastructure/controllers/kube-system/metrics-server/ks.yaml
  infrastructure/controllers/kube-system/node-feature-discovery/ks.yaml
  infrastructure/controllers/kube-system/reloader/ks.yaml
  infrastructure/controllers/kube-system/spegel/ks.yaml
Labels: area/infrastructure

fix typo
  infrastructure/controllers/networking/echo-server/app/kustomization.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
Labels: area/infrastructure

fix typo
  infrastructure/controllers/networking/echo-server/app/kustomization.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
Labels: area/infrastructure

fix typos
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
Labels: area/infrastructure, area/monitoring

fix typos
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
Labels: area/infrastructure, area/monitoring

fix externall dns
  infrastructure/controllers/networking/external-dns/ks.yaml
Labels: area/infrastructure

fix externall dns
  infrastructure/controllers/networking/external-dns/ks.yaml
Labels: area/infrastructure

fix ddns
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
Labels: area/infrastructure

fix ddns
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
Labels: area/infrastructure

fix gatus templates
  infrastructure/flux/components/gatus/external/config.yaml
  infrastructure/flux/components/gatus/external/configmap.yaml
  infrastructure/flux/components/gatus/external/kustomization.yaml
  infrastructure/flux/components/gatus/guarded/config.yaml
  infrastructure/flux/components/gatus/guarded/configmap.yaml
  infrastructure/flux/components/gatus/guarded/kustomization.yaml
Labels: area/infrastructure

fix gatus templates
  infrastructure/flux/components/gatus/external/config.yaml
  infrastructure/flux/components/gatus/external/configmap.yaml
  infrastructure/flux/components/gatus/external/kustomization.yaml
  infrastructure/flux/components/gatus/guarded/config.yaml
  infrastructure/flux/components/gatus/guarded/configmap.yaml
  infrastructure/flux/components/gatus/guarded/kustomization.yaml
Labels: area/infrastructure

Fix some missed updates
  infrastructure/controllers/networking/cloudflare-ddns/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
Labels: area/infrastructure

Fix some missed updates
  infrastructure/controllers/networking/cloudflare-ddns/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
Labels: area/infrastructure

Try fix letsencrypt
  infrastructure/controllers/cert-manager/cert-manager/issuers/externalsecret.yaml
  infrastructure/controllers/cert-manager/cert-manager/issuers/letsencrypt.yaml
Labels: area/infrastructure, area/security

Try fix letsencrypt
  infrastructure/controllers/cert-manager/cert-manager/issuers/externalsecret.yaml
  infrastructure/controllers/cert-manager/cert-manager/issuers/letsencrypt.yaml
Labels: area/infrastructure, area/security

cert-manager update
  infrastructure/controllers/cert-manager/cert-manager/issuers/clusterissuer.yaml
  infrastructure/controllers/cert-manager/cert-manager/issuers/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
  infrastructure/controllers/cert-manager/cert-manager/tls/certificates.yaml
  infrastructure/controllers/cert-manager/cert-manager/tls/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/tls/pushsecret.yaml
Labels: area/infrastructure, area/security

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions
