Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/docs, area/infrastructure, area/talos, area/bootstrap, area/taskfile, cluster/aeon

why wont any of these pass through??
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
Labels: area/infrastructure

why wont any of these pass through??
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

Update bookstack with authentik
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

Update bookstack with authentik
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

update secret
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

update secret
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

asd
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

asd
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

bookstack auth again
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

bookstack auth again
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

bookstack auth again
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

bookstack auth again
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

turn off auto ionitiate
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

turn off auto ionitiate
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

bookstack standard auth
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

bookstack standard auth
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

renable oidc
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

renable oidc
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
Labels: cluster/aeon

test alert
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
Labels: area/infrastructure

test alert
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
Labels: area/infrastructure

Revert "test alert"
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
Labels: area/infrastructure

Revert "test alert"
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
Labels: area/infrastructure

fix renovate
  .github/workflows/renovate.yaml
Labels: area/github

fix renovate
  .github/workflows/renovate.yaml
Labels: area/github

fix upgrade node
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

fix upgrade node
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

upgrade rook-ceph and move to upstream OCI
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
Labels: area/infrastructure

upgrade rook-ceph and move to upstream OCI
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
Labels: area/infrastructure

rook doesnt need verify
  clusters/aeon/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: cluster/aeon

rook doesnt need verify
  clusters/aeon/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
Labels: cluster/aeon

rook doesnt need cosign
  clusters/aeon/apps/tools/changedetection/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
Labels: area/infrastructure, cluster/aeon

rook doesnt need cosign
  clusters/aeon/apps/tools/changedetection/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
Labels: area/infrastructure, cluster/aeon

update snapshjot controller and move to upstream OCI
  infrastructure/controllers/storage/snapshot-controller/app/release.yaml
Labels: area/infrastructure

update snapshjot controller and move to upstream OCI
  infrastructure/controllers/storage/snapshot-controller/app/release.yaml
Labels: area/infrastructure

move to upstream OCI
  infrastructure/controllers/storage/snapshot-controller/app/release.yaml
Labels: area/infrastructure

move to upstream OCI
  infrastructure/controllers/storage/snapshot-controller/app/release.yaml
Labels: area/infrastructure

remove unused onboarding file
  renovate.json
Labels: none

remove unused onboarding file
  renovate.json
Labels: none

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "talos/**/*"

area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

# Clusters
cluster/aeon:
  - changed-files:
    - any-glob-to-any-file: "clusters/aeon/**/*"

# Size labels are automatically handled by GitHub Actions
