Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/docs, area/infrastructure, area/talos, area/bootstrap, area/taskfile, cluster/aeon

upgrade volsync
  infrastructure/controllers/storage/volsync/app/release.yaml
Labels: area/infrastructure

upgrade volsync
  infrastructure/controllers/storage/volsync/app/release.yaml
Labels: area/infrastructure

upgrade loki
  infrastructure/controllers/monitoring/loki/app/release.yaml
Labels: area/infrastructure

upgrade loki
  infrastructure/controllers/monitoring/loki/app/release.yaml
Labels: area/infrastructure

upgradse grafana
  infrastructure/controllers/monitoring/grafana/app/release.yaml
Labels: area/infrastructure

upgradse grafana
  infrastructure/controllers/monitoring/grafana/app/release.yaml
Labels: area/infrastructure

upgrade gatus
  infrastructure/controllers/monitoring/gatus/app/release.yaml
Labels: area/infrastructure

upgrade gatus
  infrastructure/controllers/monitoring/gatus/app/release.yaml
Labels: area/infrastructure

upgrade spegel
  bootstrap/helmfile.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
Labels: area/infrastructure, area/bootstrap

upgrade spegel
  bootstrap/helmfile.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
Labels: area/infrastructure, area/bootstrap

upgrade ARC
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/release.yaml
Labels: area/infrastructure

upgrade ARC
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/release.yaml
Labels: area/infrastructure

update cross-seed config
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

update cross-seed config
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

add more folders to cross-seed
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

add more folders to cross-seed
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

Update autobrr config
  clusters/aeon/apps/media/autobrr/app/kustomization.yaml
  clusters/aeon/apps/media/autobrr/app/lokirule.yaml
  clusters/aeon/apps/media/autobrr/app/release.yaml
  clusters/aeon/apps/media/autobrr/ks.yaml
Labels: cluster/aeon

Update autobrr config
  clusters/aeon/apps/media/autobrr/app/kustomization.yaml
  clusters/aeon/apps/media/autobrr/app/lokirule.yaml
  clusters/aeon/apps/media/autobrr/app/release.yaml
  clusters/aeon/apps/media/autobrr/ks.yaml
Labels: cluster/aeon

update url for poller
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure

update url for poller
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure

increse change detection memory limit
  clusters/aeon/apps/tools/changedetection/app/release.yaml
Labels: cluster/aeon

increse change detection memory limit
  clusters/aeon/apps/tools/changedetection/app/release.yaml
Labels: cluster/aeon

increase echo mem limit
  infrastructure/controllers/networking/echo-server/app/release.yaml
Labels: area/infrastructure

increase echo mem limit
  infrastructure/controllers/networking/echo-server/app/release.yaml
Labels: area/infrastructure

reduce bazarr mem limit
  clusters/aeon/apps/media/bazarr/app/release.yaml
Labels: cluster/aeon

reduce bazarr mem limit
  clusters/aeon/apps/media/bazarr/app/release.yaml
Labels: cluster/aeon

try fix gatus
  clusters/aeon/apps/media/jellyseerr/ks.yaml
  clusters/aeon/apps/media/plex/ks.yaml
  clusters/aeon/apps/tools/bookstack/ks.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/flux/components/gatus/config.yaml
Labels: area/infrastructure, cluster/aeon

try fix gatus
  clusters/aeon/apps/media/jellyseerr/ks.yaml
  clusters/aeon/apps/media/plex/ks.yaml
  clusters/aeon/apps/tools/bookstack/ks.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/flux/components/gatus/config.yaml
Labels: area/infrastructure, cluster/aeon

gatus config
  infrastructure/controllers/monitoring/gatus/app/resources/config.yaml
Labels: area/infrastructure

gatus config
  infrastructure/controllers/monitoring/gatus/app/resources/config.yaml
Labels: area/infrastructure

try again
  clusters/aeon/apps/media/jellyseerr/ks.yaml
  clusters/aeon/apps/media/plex/ks.yaml
  clusters/aeon/apps/tools/bookstack/ks.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/flux/components/gatus/external/config.yaml
  infrastructure/flux/components/gatus/external/kustomization.yaml
  infrastructure/flux/components/gatus/guarded/config.yaml
  infrastructure/flux/components/gatus/guarded/kustomization.yaml
Labels: area/infrastructure, cluster/aeon

try again
  clusters/aeon/apps/media/jellyseerr/ks.yaml
  clusters/aeon/apps/media/plex/ks.yaml
  clusters/aeon/apps/tools/bookstack/ks.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/flux/components/gatus/external/config.yaml
  infrastructure/flux/components/gatus/external/kustomization.yaml
  infrastructure/flux/components/gatus/guarded/config.yaml
  infrastructure/flux/components/gatus/guarded/kustomization.yaml
Labels: area/infrastructure, cluster/aeon

jellyseer is external
  clusters/aeon/apps/media/jellyseerr/ks.yaml
Labels: cluster/aeon

jellyseer is external
  clusters/aeon/apps/media/jellyseerr/ks.yaml
Labels: cluster/aeon

change external-dns
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/prometheusrule.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
  infrastructure/flux/components/gatus/external/config.yaml
Labels: area/infrastructure

change external-dns
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/prometheusrule.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
  infrastructure/flux/components/gatus/external/config.yaml
Labels: area/infrastructure

dns fixes?
  infrastructure/controllers/networking/echo-server/app/release.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

dns fixes?
  infrastructure/controllers/networking/echo-server/app/release.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

revert
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

revert
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "talos/**/*"

area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

# Clusters
cluster/aeon:
  - changed-files:
    - any-glob-to-any-file: "clusters/aeon/**/*"

# Size labels are automatically handled by GitHub Actions
