Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/docs, area/infrastructure, area/talos, area/bootstrap, area/taskfile, cluster/aeon

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "talos/**/*"

area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

# Clusters
cluster/aeon:
  - changed-files:
    - any-glob-to-any-file: "clusters/aeon/**/*"

# Size labels are automatically handled by GitHub Actions

update unpoller role
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure

update unpoller role
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure

remove this
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure

remove this
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure

Add TheLounge
  clusters/aeon/apps/personal/thelounge/app/externalsecret.yaml
  clusters/aeon/apps/personal/thelounge/app/kustomization.yaml
  clusters/aeon/apps/personal/thelounge/app/release.yaml
  clusters/aeon/apps/personal/thelounge/ks.yaml
Labels: cluster/aeon

Add TheLounge
  clusters/aeon/apps/personal/thelounge/app/externalsecret.yaml
  clusters/aeon/apps/personal/thelounge/app/kustomization.yaml
  clusters/aeon/apps/personal/thelounge/app/release.yaml
  clusters/aeon/apps/personal/thelounge/ks.yaml
Labels: cluster/aeon

fadd the lounge
  clusters/aeon/apps/personal/kustomization.yaml
  clusters/aeon/apps/personal/thelounge/app/kustomization.yaml
Labels: cluster/aeon

fadd the lounge
  clusters/aeon/apps/personal/kustomization.yaml
  clusters/aeon/apps/personal/thelounge/app/kustomization.yaml
Labels: cluster/aeon

fix secret
  clusters/aeon/apps/personal/thelounge/app/externalsecret.yaml
Labels: cluster/aeon

fix secret
  clusters/aeon/apps/personal/thelounge/app/externalsecret.yaml
Labels: cluster/aeon

add selectors
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  clusters/aeon/apps/tools/chartdb/app/release.yaml
  clusters/aeon/apps/tools/wakapi/app/release.yaml
Labels: cluster/aeon

add selectors
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  clusters/aeon/apps/tools/chartdb/app/release.yaml
  clusters/aeon/apps/tools/wakapi/app/release.yaml
Labels: cluster/aeon

expose wakapi metrics
  clusters/aeon/apps/tools/wakapi/app/externalsecret.yaml
Labels: cluster/aeon

expose wakapi metrics
  clusters/aeon/apps/tools/wakapi/app/externalsecret.yaml
Labels: cluster/aeon

update wakapi metrics path
  clusters/aeon/apps/tools/wakapi/app/release.yaml
Labels: cluster/aeon

update wakapi metrics path
  clusters/aeon/apps/tools/wakapi/app/release.yaml
Labels: cluster/aeon

update metrics
  clusters/aeon/apps/tools/wakapi/app/release.yaml
Labels: cluster/aeon

update metrics
  clusters/aeon/apps/tools/wakapi/app/release.yaml
Labels: cluster/aeon

remove service monitors
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  clusters/aeon/apps/tools/chartdb/app/release.yaml
  clusters/aeon/apps/tools/wakapi/app/externalsecret.yaml
  clusters/aeon/apps/tools/wakapi/app/release.yaml
Labels: cluster/aeon

remove service monitors
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  clusters/aeon/apps/tools/chartdb/app/release.yaml
  clusters/aeon/apps/tools/wakapi/app/externalsecret.yaml
  clusters/aeon/apps/tools/wakapi/app/release.yaml
Labels: cluster/aeon

add OCI namespace to thelounge
  clusters/aeon/apps/personal/thelounge/app/release.yaml
Labels: cluster/aeon

add OCI namespace to thelounge
  clusters/aeon/apps/personal/thelounge/app/release.yaml
Labels: cluster/aeon

update
  clusters/aeon/apps/personal/thelounge/app/externalsecret.yaml
  clusters/aeon/apps/personal/thelounge/app/kustomization.yaml
  clusters/aeon/apps/personal/thelounge/app/release.yaml
  clusters/aeon/apps/personal/vikunja/ks.yaml
Labels: cluster/aeon

update
  clusters/aeon/apps/personal/thelounge/app/externalsecret.yaml
  clusters/aeon/apps/personal/thelounge/app/kustomization.yaml
  clusters/aeon/apps/personal/thelounge/app/release.yaml
  clusters/aeon/apps/personal/vikunja/ks.yaml
Labels: cluster/aeon

dont use promrule for unpoller
  infrastructure/controllers/monitoring/unpoller/app/kustomization.yaml
Labels: area/infrastructure

dont use promrule for unpoller
  infrastructure/controllers/monitoring/unpoller/app/kustomization.yaml
Labels: area/infrastructure

remove unpoller prom alert
  infrastructure/controllers/monitoring/unpoller/app/kustomization.yaml
  infrastructure/controllers/monitoring/unpoller/app/prometheusrule.yaml
Labels: area/infrastructure

remove unpoller prom alert
  infrastructure/controllers/monitoring/unpoller/app/kustomization.yaml
  infrastructure/controllers/monitoring/unpoller/app/prometheusrule.yaml
Labels: area/infrastructure

fix maria volsync
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

fix maria volsync
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

fix
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
Labels: area/infrastructure

fix
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
Labels: area/infrastructure

add volsyc back
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

add volsyc back
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

try patch maria pvc
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/resources/pvc-patch.yaml
Labels: area/infrastructure

try patch maria pvc
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/resources/pvc-patch.yaml
Labels: area/infrastructure

remove patch
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
Labels: area/infrastructure

remove patch
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
Labels: area/infrastructure

remobe bookstack and maria
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
  clusters/aeon/apps/tools/bookstack/app/kustomization.yaml
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  clusters/aeon/apps/tools/bookstack/ks.yaml
  clusters/aeon/apps/tools/kustomization.yaml
  infrastructure/controllers/database/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
  infrastructure/controllers/database/mariadb/app/resources/pvc-patch.yaml
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure, cluster/aeon

remobe bookstack and maria
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
  clusters/aeon/apps/tools/bookstack/app/kustomization.yaml
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  clusters/aeon/apps/tools/bookstack/ks.yaml
  clusters/aeon/apps/tools/kustomization.yaml
  infrastructure/controllers/database/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
  infrastructure/controllers/database/mariadb/app/resources/pvc-patch.yaml
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure, cluster/aeon
