Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

update bootstrap helpfile
  infrastructure/bootstrap/helmfile.yaml
Labels: area/infrastructure

disable some apps
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/media/namespace.yaml
  clusters/main/apps/personal/kustomization.yaml
Labels: cluster/main

disable some apps
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/media/namespace.yaml
  clusters/main/apps/personal/kustomization.yaml
Labels: cluster/main

move common flux components into common dir
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/tools/kustomization.yaml
  infrastructure/controllers/actions-runner-system/kustomization.yaml
  infrastructure/controllers/cert-manager/kustomization.yaml
  infrastructure/controllers/database/kustomization.yaml
  infrastructure/controllers/flux-system/kustomization.yaml
  infrastructure/controllers/kube-system/kustomization.yaml
  infrastructure/controllers/monitoring/kustomization.yaml
  infrastructure/controllers/networking/kustomization.yaml
  infrastructure/controllers/rook-ceph/kustomization.yaml
  infrastructure/controllers/security/kustomization.yaml
  infrastructure/controllers/storage/kustomization.yaml
  infrastructure/controllers/system-upgrade/kustomization.yaml
  infrastructure/flux/components/common/alerts/alertmanager/alert.yaml
  infrastructure/flux/components/common/alerts/alertmanager/kustomization.yaml
  infrastructure/flux/components/common/alerts/alertmanager/provider.yaml
  infrastructure/flux/components/common/alerts/github/alert.yaml
  infrastructure/flux/components/common/alerts/github/externalsecret.yaml
  infrastructure/flux/components/common/alerts/github/kustomization.yaml
  infrastructure/flux/components/common/alerts/github/provider.yaml
  infrastructure/flux/components/common/alerts/kustomization.yaml
  infrastructure/flux/components/common/kustomization.yaml
  infrastructure/flux/components/common/namespace/kustomization.yaml
  infrastructure/flux/components/common/namespace/namespace.yaml
  infrastructure/flux/components/common/sops/kustomization.yaml
  infrastructure/flux/components/common/sops/secret.sops.yaml
Labels: area/flux, area/infrastructure, area/monitoring, area/security, area/storage, cluster/main

move common flux components into common dir
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/tools/kustomization.yaml
  infrastructure/controllers/actions-runner-system/kustomization.yaml
  infrastructure/controllers/cert-manager/kustomization.yaml
  infrastructure/controllers/database/kustomization.yaml
  infrastructure/controllers/flux-system/kustomization.yaml
  infrastructure/controllers/kube-system/kustomization.yaml
  infrastructure/controllers/monitoring/kustomization.yaml
  infrastructure/controllers/networking/kustomization.yaml
  infrastructure/controllers/rook-ceph/kustomization.yaml
  infrastructure/controllers/security/kustomization.yaml
  infrastructure/controllers/storage/kustomization.yaml
  infrastructure/controllers/system-upgrade/kustomization.yaml
  infrastructure/flux/components/common/alerts/alertmanager/alert.yaml
  infrastructure/flux/components/common/alerts/alertmanager/kustomization.yaml
  infrastructure/flux/components/common/alerts/alertmanager/provider.yaml
  infrastructure/flux/components/common/alerts/github/alert.yaml
  infrastructure/flux/components/common/alerts/github/externalsecret.yaml
  infrastructure/flux/components/common/alerts/github/kustomization.yaml
  infrastructure/flux/components/common/alerts/github/provider.yaml
  infrastructure/flux/components/common/alerts/kustomization.yaml
  infrastructure/flux/components/common/kustomization.yaml
  infrastructure/flux/components/common/namespace/kustomization.yaml
  infrastructure/flux/components/common/namespace/namespace.yaml
  infrastructure/flux/components/common/sops/kustomization.yaml
  infrastructure/flux/components/common/sops/secret.sops.yaml
Labels: area/flux, area/infrastructure, area/monitoring, area/security, area/storage, cluster/main

Update volsync
  infrastructure/controllers/storage/volsync/app/release.yaml
Labels: area/infrastructure, area/storage

Update volsync
  infrastructure/controllers/storage/volsync/app/release.yaml
Labels: area/infrastructure, area/storage

update openebs
  infrastructure/controllers/storage/openebs/app/release.yaml
Labels: area/infrastructure, area/storage

update openebs
  infrastructure/controllers/storage/openebs/app/release.yaml
Labels: area/infrastructure, area/storage

Add app-template OCI repo
  infrastructure/flux/meta/repositories/oci/app-template.yaml
  infrastructure/flux/meta/repositories/oci/kustomization.yaml
Labels: area/infrastructure

Add app-template OCI repo
  infrastructure/flux/meta/repositories/oci/app-template.yaml
  infrastructure/flux/meta/repositories/oci/kustomization.yaml
Labels: area/infrastructure

Cloudflared tidy
  infrastructure/controllers/networking/cloudflared/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflared/app/release.yaml
Labels: area/infrastructure

Cloudflared tidy
  infrastructure/controllers/networking/cloudflared/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflared/app/release.yaml
Labels: area/infrastructure

Rook tweak
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/ks.yaml
Labels: area/infrastructure

Rook tweak
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/ks.yaml
Labels: area/infrastructure

update desheduler
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
Labels: area/infrastructure

update desheduler
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
Labels: area/infrastructure

update irqbalance
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
Labels: area/infrastructure

update irqbalance
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
Labels: area/infrastructure

update reloader
  infrastructure/controllers/kube-system/reloader/app/kustomization.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/repository.yaml
Labels: area/infrastructure

update reloader
  infrastructure/controllers/kube-system/reloader/app/kustomization.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/repository.yaml
Labels: area/infrastructure

update spegel
  infrastructure/controllers/kube-system/spegel/app/kustomization.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/repository.yaml
  infrastructure/controllers/kube-system/spegel/app/resources/values.yaml
Labels: area/infrastructure

update spegel
  infrastructure/controllers/kube-system/spegel/app/kustomization.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/repository.yaml
  infrastructure/controllers/kube-system/spegel/app/resources/values.yaml
Labels: area/infrastructure

update smtp relay
  infrastructure/controllers/networking/smtp-relay/app/config/maddy.conf
  infrastructure/controllers/networking/smtp-relay/app/externalsecret.yaml
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
Labels: area/infrastructure

update smtp relay
  infrastructure/controllers/networking/smtp-relay/app/config/maddy.conf
  infrastructure/controllers/networking/smtp-relay/app/externalsecret.yaml
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
Labels: area/infrastructure

Fix flux alerts component
  infrastructure/flux/components/common/alerts/github/alert.yaml
  infrastructure/flux/components/common/alerts/kustomization.yaml
Labels: area/infrastructure

Fix flux alerts component
  infrastructure/flux/components/common/alerts/github/alert.yaml
  infrastructure/flux/components/common/alerts/kustomization.yaml
Labels: area/infrastructure

Update coredns
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/repository.yaml
  infrastructure/controllers/kube-system/coredns/app/resources/values.yaml
Labels: area/infrastructure

Update coredns
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/repository.yaml
  infrastructure/controllers/kube-system/coredns/app/resources/values.yaml
Labels: area/infrastructure

Fix flux common components
  infrastructure/flux/components/common/namespace/kustomization.yaml
  infrastructure/flux/components/common/sops/kustomization.yaml
Labels: area/infrastructure

Fix flux common components
  infrastructure/flux/components/common/namespace/kustomization.yaml
  infrastructure/flux/components/common/sops/kustomization.yaml
Labels: area/infrastructure

fix flux instance path error
  infrastructure/controllers/flux-system/flux-instance/ks.yaml
Labels: area/flux, area/infrastructure

fix flux instance path error
  infrastructure/controllers/flux-system/flux-instance/ks.yaml
Labels: area/flux, area/infrastructure

dissable immich pq temporarily
  infrastructure/controllers/database/cloudnative-pg/cluster/kustomization.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/service.yaml
Labels: area/infrastructure

dissable immich pq temporarily
  infrastructure/controllers/database/cloudnative-pg/cluster/kustomization.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/service.yaml
Labels: area/infrastructure

Fix flux again
  infrastructure/controllers/flux-system/flux-instance/app/receiver/httproute.yaml
  infrastructure/controllers/flux-system/flux-instance/ks.yaml
Labels: area/flux, area/infrastructure

Fix flux again
  infrastructure/controllers/flux-system/flux-instance/app/receiver/httproute.yaml
  infrastructure/controllers/flux-system/flux-instance/ks.yaml
Labels: area/flux, area/infrastructure

try fix flux
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/kustomization.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
  infrastructure/controllers/networking/nginx/ks.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/ks.yaml
Labels: area/infrastructure, area/security

try fix flux
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/kustomization.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
  infrastructure/controllers/networking/nginx/ks.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/ks.yaml
Labels: area/infrastructure, area/security

update flux instance location in bootstrap file
  infrastructure/bootstrap/helmfile.yaml
Labels: area/infrastructure

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions
