Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions

what the fuck is with this stupid fucking script, why wont you fucking sync flux!@!@
  infrastructure/controllers/cert-manager/cert-manager/crons/sync-truenas-cert.yaml
Labels: area/infrastructure, area/security

what the fuck is with this stupid fucking script, why wont you fucking sync flux!@!@
  infrastructure/controllers/cert-manager/cert-manager/crons/sync-truenas-cert.yaml
Labels: area/infrastructure, area/security

this is so stupid
  infrastructure/controllers/cert-manager/cert-manager/crons/sync-truenas-cert.yaml
Labels: area/infrastructure, area/security

this is so stupid
  infrastructure/controllers/cert-manager/cert-manager/crons/sync-truenas-cert.yaml
Labels: area/infrastructure, area/security

try again/....
  infrastructure/controllers/cert-manager/cert-manager/crons/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/crons/scripts/sync-truenas-cert.sh
  infrastructure/controllers/cert-manager/cert-manager/crons/sync-truenas-cert.yaml
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/configmap.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/externalsecret.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/rbac.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/ks.yaml
  justfile
Labels: area/infrastructure, area/security

try again/....
  infrastructure/controllers/cert-manager/cert-manager/crons/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/crons/scripts/sync-truenas-cert.sh
  infrastructure/controllers/cert-manager/cert-manager/crons/sync-truenas-cert.yaml
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/configmap.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/externalsecret.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/rbac.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/ks.yaml
  justfile
Labels: area/infrastructure, area/security

fdgh
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/kustomization.yaml
Labels: area/infrastructure, area/security

fdgh
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/kustomization.yaml
Labels: area/infrastructure, area/security

please stoop
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

please stoop
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

fdhghfdgh
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

fdhghfdgh
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

rtysd ag
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

rtysd ag
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

im an idiot
  infrastructure/controllers/cert-manager/truenas-cert-sync/ks.yaml
Labels: area/infrastructure, area/security

im an idiot
  infrastructure/controllers/cert-manager/truenas-cert-sync/ks.yaml
Labels: area/infrastructure, area/security

jhfmh
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

jhfmh
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

ufdsghdfgh
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

ufdsghdfgh
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

dfgjfd
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

dfgjfd
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
Labels: area/infrastructure, area/security

try immihc replicas
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

try immihc replicas
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

update nginx replicas
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
Labels: area/infrastructure

update nginx replicas
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
Labels: area/infrastructure

immich specs
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

immich specs
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

feat: add chartdb service
  clusters/main/apps/tools/chartdb/app/externalsecret.yaml
  clusters/main/apps/tools/chartdb/app/kustomization.yaml
  clusters/main/apps/tools/chartdb/app/release.yaml
  clusters/main/apps/tools/chartdb/ks.yaml
Labels: cluster/main

feat: add chartdb service
  clusters/main/apps/tools/chartdb/app/externalsecret.yaml
  clusters/main/apps/tools/chartdb/app/kustomization.yaml
  clusters/main/apps/tools/chartdb/app/release.yaml
  clusters/main/apps/tools/chartdb/ks.yaml
Labels: cluster/main

Chart DB
  clusters/main/apps/tools/chartdb/app/release.yaml
Labels: cluster/main

Chart DB
  clusters/main/apps/tools/chartdb/app/release.yaml
Labels: cluster/main

Update cert-cron task
  justfile
Labels: none

Update cert-cron task
  justfile
Labels: none

Update cert-cron task
  .gitignore
Labels: none

Update cert-cron task
  .gitignore
Labels: none

Add hoarder
  clusters/main/apps/personal/hoarder/app/externalsecret.yaml
  clusters/main/apps/personal/hoarder/app/gatus.yaml
  clusters/main/apps/personal/hoarder/app/kustomization.yaml
  clusters/main/apps/personal/hoarder/app/pvc.yaml
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/apps/personal/hoarder/ks.yaml
  clusters/main/apps/personal/kustomization.yaml
Labels: cluster/main

Add hoarder
  clusters/main/apps/personal/hoarder/app/externalsecret.yaml
  clusters/main/apps/personal/hoarder/app/gatus.yaml
  clusters/main/apps/personal/hoarder/app/kustomization.yaml
  clusters/main/apps/personal/hoarder/app/pvc.yaml
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/apps/personal/hoarder/ks.yaml
  clusters/main/apps/personal/kustomization.yaml
Labels: cluster/main

Use my chartdb package
  clusters/main/apps/tools/chartdb/app/release.yaml
Labels: cluster/main

Use my chartdb package
  clusters/main/apps/tools/chartdb/app/release.yaml
Labels: cluster/main
