Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/docs, area/infrastructure, area/talos, area/bootstrap, area/taskfile, cluster/aeon

fix media mount
  clusters/aeon/apps/media/cross-seed/app/release.yaml
Labels: cluster/aeon

fix media mount
  clusters/aeon/apps/media/cross-seed/app/release.yaml
Labels: cluster/aeon

try again
  clusters/aeon/apps/media/cross-seed/app/release.yaml
Labels: cluster/aeon

try again
  clusters/aeon/apps/media/cross-seed/app/release.yaml
Labels: cluster/aeon

add torznab
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

add torznab
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

add api key
  clusters/aeon/apps/media/cross-seed/app/externalsecret.yaml
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

add api key
  clusters/aeon/apps/media/cross-seed/app/externalsecret.yaml
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

change cross-seed directory
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

change cross-seed directory
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

remove search cadence
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

remove search cadence
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

add DCC to cross-seed
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

add DCC to cross-seed
  clusters/aeon/apps/media/cross-seed/app/resources/config.js
Labels: cluster/aeon

update chartdb
  clusters/aeon/apps/tools/chartdb/app/release.yaml
Labels: cluster/aeon

update chartdb
  clusters/aeon/apps/tools/chartdb/app/release.yaml
Labels: cluster/aeon

Update some versions
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/release.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
  infrastructure/controllers/cert-manager/cert-manager/app/release.yaml
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
  infrastructure/flux/meta/repositories/helm/backube.yaml
  infrastructure/flux/meta/repositories/helm/erpnext.yaml
  infrastructure/flux/meta/repositories/helm/hajimari.yaml
  infrastructure/flux/meta/repositories/helm/kustomization.yaml
Labels: area/infrastructure

dissabler qbit
  clusters/aeon/apps/media/kustomization.yaml
Labels: cluster/aeon

upgrade talos-updater
  infrastructure/controllers/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/infrastructure

TRy add multus for iot
  infrastructure/controllers/networking/kustomization.yaml
  infrastructure/controllers/networking/multus/app/helmrelease.yaml
  infrastructure/controllers/networking/multus/app/kustomization.yaml
  infrastructure/controllers/networking/multus/app/rbac.yaml
  infrastructure/controllers/networking/multus/ks.yaml
  infrastructure/controllers/networking/multus/networks/iot.yaml
  infrastructure/controllers/networking/multus/networks/kustomization.yaml
Labels: area/infrastructure

dissable autobbr and cross-seed
  clusters/aeon/apps/media/kustomization.yaml
Labels: cluster/aeon

Add hass
  clusters/aeon/apps/home/home-assistant/app/helmrelease.yaml
  clusters/aeon/apps/home/home-assistant/app/kustomization.yaml
  clusters/aeon/apps/home/home-assistant/ks.yaml
  clusters/aeon/apps/home/kustomization.yaml
Labels: cluster/aeon

update multus iot network iface
  infrastructure/controllers/networking/multus/networks/iot.yaml
Labels: area/infrastructure

update multus iot network again
  infrastructure/controllers/networking/multus/networks/iot.yaml
Labels: area/infrastructure

try fix ha
  clusters/aeon/apps/home/home-assistant/app/kustomization.yaml
  clusters/aeon/apps/home/home-assistant/app/release.yaml
Labels: cluster/aeon

try multus master iface fix
  infrastructure/controllers/networking/multus/networks/iot.yaml
Labels: area/infrastructure

add roon
  clusters/aeon/apps/home/home-assistant/app/release.yaml
  clusters/aeon/apps/home/roon/app/kustomization.yaml
  clusters/aeon/apps/home/roon/ks.yaml
Labels: cluster/aeon

add roon
  clusters/aeon/apps/home/kustomization.yaml
  clusters/aeon/apps/home/roon/app/release.yaml
Labels: cluster/aeon

latest on roon
  clusters/aeon/apps/home/roon/app/release.yaml
Labels: cluster/aeon

multus debug
  infrastructure/controllers/networking/multus/app/kustomization.yaml
  infrastructure/controllers/networking/multus/app/release.yaml
  infrastructure/controllers/networking/multus/app/test.yaml
Labels: area/infrastructure

update iot
  infrastructure/controllers/networking/multus/networks/iot.yaml
Labels: area/infrastructure

multus
  infrastructure/controllers/networking/multus/app/release.yaml
Labels: area/infrastructure

multus
  infrastructure/controllers/networking/multus/app/kustomization.yaml
  infrastructure/controllers/networking/multus/networks/iot.yaml
Labels: area/infrastructure

update ci/cd
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tag.yaml
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
Labels: area/github

bootstrap helm apply -> sync
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix multus and iot vlan connection?
  clusters/aeon/apps/home/home-assistant/app/release.yaml
  infrastructure/controllers/networking/multus/networks/iot.yaml
Labels: area/infrastructure, cluster/aeon

-roon
  clusters/aeon/apps/home/kustomization.yaml
Labels: cluster/aeon

update hass
  clusters/aeon/apps/home/home-assistant/app/release.yaml
Labels: cluster/aeon

update app-template version
  infrastructure/flux/meta/repositories/oci/app-template.yaml
Labels: area/infrastructure

update apiversion on app template repo
  infrastructure/flux/meta/repositories/oci/app-template.yaml
Labels: area/infrastructure

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "talos/**/*"

area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

# Clusters
cluster/aeon:
  - changed-files:
    - any-glob-to-any-file: "clusters/aeon/**/*"

# Size labels are automatically handled by GitHub Actions
