Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions

Feat: Paperless + fixes
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  clusters/main/apps/personal/paperless/app/externalsecret.yaml
  clusters/main/apps/personal/paperless/app/gatus.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/app/release.yaml
  clusters/main/apps/personal/paperless/ks.yaml
  infrastructure/bootstrap/debug-output.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/truenas.yaml
  infrastructure/controllers/cert-manager/cert-manager/ks.yaml
  infrastructure/controllers/cert-manager/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/configmap.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/externalsecret.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/rbac.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/ks.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/networking/cloudflared/app/release.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
  justfile
Labels: area/infrastructure, area/security, area/storage, cluster/main

Feat: ChartDB & Hoarder
  .gitignore
  clusters/main/apps/personal/hoarder/app/externalsecret.yaml
  clusters/main/apps/personal/hoarder/app/gatus.yaml
  clusters/main/apps/personal/hoarder/app/kustomization.yaml
  clusters/main/apps/personal/hoarder/app/pvc.yaml
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/apps/personal/hoarder/ks.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/tools/chartdb/app/externalsecret.yaml
  clusters/main/apps/tools/chartdb/app/kustomization.yaml
  clusters/main/apps/tools/chartdb/app/release.yaml
  clusters/main/apps/tools/chartdb/ks.yaml
  clusters/main/flux-system/kustomization.yaml
  flux/flux.just
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
  justfile
Labels: area/flux, area/infrastructure, cluster/main

Feat: ChartDB & Hoarder
  .gitignore
  clusters/main/apps/personal/hoarder/app/externalsecret.yaml
  clusters/main/apps/personal/hoarder/app/gatus.yaml
  clusters/main/apps/personal/hoarder/app/kustomization.yaml
  clusters/main/apps/personal/hoarder/app/pvc.yaml
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/apps/personal/hoarder/ks.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/tools/chartdb/app/externalsecret.yaml
  clusters/main/apps/tools/chartdb/app/kustomization.yaml
  clusters/main/apps/tools/chartdb/app/release.yaml
  clusters/main/apps/tools/chartdb/ks.yaml
  clusters/main/flux-system/kustomization.yaml
  flux/flux.just
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
  justfile
Labels: area/flux, area/infrastructure, cluster/main

Update some kyverno policies
  infrastructure/controllers/kyverno/kyverno/policies/flux.yaml
  infrastructure/controllers/kyverno/kyverno/policies/gatus.yaml
  infrastructure/controllers/kyverno/kyverno/policies/ingress.yaml
  infrastructure/controllers/kyverno/kyverno/policies/kustomization.yaml
Labels: area/infrastructure

Update some kyverno policies
  infrastructure/controllers/kyverno/kyverno/policies/flux.yaml
  infrastructure/controllers/kyverno/kyverno/policies/gatus.yaml
  infrastructure/controllers/kyverno/kyverno/policies/ingress.yaml
  infrastructure/controllers/kyverno/kyverno/policies/kustomization.yaml
Labels: area/infrastructure

Feat: add qbittorrrent
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/media/namespace.yaml
  clusters/main/apps/media/qbittorrent/app/kustomization.yaml
  clusters/main/apps/media/qbittorrent/app/pvc.yaml
  clusters/main/apps/media/qbittorrent/app/release.yaml
  clusters/main/apps/media/qbittorrent/app/resources/lokirule.yaml
  clusters/main/apps/media/qbittorrent/ks.yaml
  clusters/main/apps/media/qbittorrent/tools/kustomization.yaml
  clusters/main/apps/media/qbittorrent/tools/qbtools/externalsecret.yaml
  clusters/main/apps/media/qbittorrent/tools/qbtools/kustomization.yaml
  clusters/main/apps/media/qbittorrent/tools/qbtools/release.yaml
  clusters/main/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
  clusters/main/apps/personal/namespace.yaml
  clusters/main/apps/tools/namespace.yaml
Labels: cluster/main

Feat: add qbittorrrent
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/media/namespace.yaml
  clusters/main/apps/media/qbittorrent/app/kustomization.yaml
  clusters/main/apps/media/qbittorrent/app/pvc.yaml
  clusters/main/apps/media/qbittorrent/app/release.yaml
  clusters/main/apps/media/qbittorrent/app/resources/lokirule.yaml
  clusters/main/apps/media/qbittorrent/ks.yaml
  clusters/main/apps/media/qbittorrent/tools/kustomization.yaml
  clusters/main/apps/media/qbittorrent/tools/qbtools/externalsecret.yaml
  clusters/main/apps/media/qbittorrent/tools/qbtools/kustomization.yaml
  clusters/main/apps/media/qbittorrent/tools/qbtools/release.yaml
  clusters/main/apps/media/qbittorrent/tools/qbtools/resources/config.yaml
  clusters/main/apps/personal/namespace.yaml
  clusters/main/apps/tools/namespace.yaml
Labels: cluster/main

Setup media storage for qbit
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/media/media-pvc.yaml
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

Setup media storage for qbit
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/media/media-pvc.yaml
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

update qbit
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

update qbit
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

fix media pvc
  clusters/main/apps/media/media-pvc.yaml
Labels: cluster/main

fix media pvc
  clusters/main/apps/media/media-pvc.yaml
Labels: cluster/main

fix qbit pvc
  clusters/main/apps/media/qbittorrent/app/pvc.yaml
Labels: cluster/main

fix qbit pvc
  clusters/main/apps/media/qbittorrent/app/pvc.yaml
Labels: cluster/main

qbit
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbit
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbit again
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbit again
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbiot aguan
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbiot aguan
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbit
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbit
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

make qbit external?
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

make qbit external?
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbit
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

qbit
  clusters/main/apps/media/qbittorrent/app/release.yaml
Labels: cluster/main

temp
  clusters/main/apps/media/audiobookshelf/app/externalsecret.yaml
  clusters/main/apps/media/audiobookshelf/app/kustomization.yaml
  clusters/main/apps/media/audiobookshelf/app/release.yaml
  clusters/main/apps/media/audiobookshelf/ks.yaml
  clusters/main/apps/personal/dawarich/app/configmap.yaml
  clusters/main/apps/personal/dawarich/app/externalsecret.yaml
  clusters/main/apps/personal/dawarich/app/kustomization.yaml
  clusters/main/apps/personal/dawarich/app/release.yaml
  clusters/main/apps/personal/dawarich/ks.yaml
Labels: cluster/main

temp
  clusters/main/apps/media/audiobookshelf/app/externalsecret.yaml
  clusters/main/apps/media/audiobookshelf/app/kustomization.yaml
  clusters/main/apps/media/audiobookshelf/app/release.yaml
  clusters/main/apps/media/audiobookshelf/ks.yaml
  clusters/main/apps/personal/dawarich/app/configmap.yaml
  clusters/main/apps/personal/dawarich/app/externalsecret.yaml
  clusters/main/apps/personal/dawarich/app/kustomization.yaml
  clusters/main/apps/personal/dawarich/app/release.yaml
  clusters/main/apps/personal/dawarich/ks.yaml
Labels: cluster/main

Setyup volsync templates and hopefully fix paperless
  .gitattributes
  .vscode/extensions.json
  .vscode/settings.json
  clusters/main/apps/personal/paperless/app/externalsecret.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/ks.yaml
  clusters/pve/.gitkeep
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/release.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/ks.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/kustomization.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/rbac.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set/ks.yaml
  infrastructure/controllers/actions-runner-system/kustomization.yaml
  infrastructure/controllers/actions-runner-system/namespace.yaml
  infrastructure/controllers/cert-manager/namespace.yaml
  infrastructure/controllers/kyverno/kyverno/policies/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/policies/volsync.yaml
  infrastructure/templates/alerts/alert.yaml
  infrastructure/templates/alerts/kustomization.yaml
  infrastructure/templates/alerts/provider.yaml
  infrastructure/templates/gatus/external/configmap.yaml
  infrastructure/templates/gatus/external/kustomization.yaml
  infrastructure/templates/gatus/guarded/configmap.xml
  infrastructure/templates/gatus/guarded/kustomization.yaml
  infrastructure/templates/volsync/claim.yaml
  infrastructure/templates/volsync/kustomization.yaml
  infrastructure/templates/volsync/nfs.yaml
  infrastructure/templates/volsync/r2.yaml
Labels: area/infrastructure, area/security, cluster/main

Setyup volsync templates and hopefully fix paperless
  .gitattributes
  .vscode/extensions.json
  .vscode/settings.json
  clusters/main/apps/personal/paperless/app/externalsecret.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/ks.yaml
  clusters/pve/.gitkeep
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/release.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/ks.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/kustomization.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/rbac.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  infrastructure/controllers/actions-runner-system/gha-runner-scale-set/ks.yaml
  infrastructure/controllers/actions-runner-system/kustomization.yaml
  infrastructure/controllers/actions-runner-system/namespace.yaml
  infrastructure/controllers/cert-manager/namespace.yaml
  infrastructure/controllers/kyverno/kyverno/policies/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/policies/volsync.yaml
  infrastructure/templates/alerts/alert.yaml
  infrastructure/templates/alerts/kustomization.yaml
  infrastructure/templates/alerts/provider.yaml
  infrastructure/templates/gatus/external/configmap.yaml
  infrastructure/templates/gatus/external/kustomization.yaml
  infrastructure/templates/gatus/guarded/configmap.xml
  infrastructure/templates/gatus/guarded/kustomization.yaml
  infrastructure/templates/volsync/claim.yaml
  infrastructure/templates/volsync/kustomization.yaml
  infrastructure/templates/volsync/nfs.yaml
  infrastructure/templates/volsync/r2.yaml
Labels: area/infrastructure, area/security, cluster/main

Update paperless
  clusters/main/apps/personal/paperless/app/release.yaml
Labels: cluster/main

Update paperless
  clusters/main/apps/personal/paperless/app/release.yaml
Labels: cluster/main

Try fix immich-pq cluster backup
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

Try fix immich-pq cluster backup
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

set immich-pg cluster settings
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

set immich-pg cluster settings
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

update flux just cmd
  flux/flux.just
Labels: none

update flux just cmd
  flux/flux.just
Labels: none

Fix paperless?
  clusters/main/apps/personal/paperless/app/gatus.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/ks.yaml
  infrastructure/controllers/cert-manager/namespace.yaml
  infrastructure/controllers/flux-system/add-ons/app/notifications/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/policies/flux.yaml
  infrastructure/templates/alerts/alert.yaml
  infrastructure/templates/alerts/provider.yaml
  infrastructure/templates/gatus/guarded/configmap.xml
  infrastructure/templates/kustomization.yaml
  infrastructure/templates/volsync/pvc.yaml
Labels: area/flux, area/infrastructure, area/security, cluster/main
