Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

cewrt-manager
  infrastructure/controllers/cert-manager/cert-manager/app/release.yaml
Labels: area/infrastructure, area/security

try fix external dns
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try fix external dns
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try fix external-dns again
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try fix external-dns again
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

update blackbox-excporter
  infrastructure/controllers/monitoring/blackbox-exporter/probes/homelab.yaml
  talos/talconfig.yaml
Labels: area/infrastructure, area/monitoring

update blackbox-excporter
  infrastructure/controllers/monitoring/blackbox-exporter/probes/homelab.yaml
  talos/talconfig.yaml
Labels: area/infrastructure, area/monitoring

try recover pg
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

try recover pg
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

fix pg cluster
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

fix pg cluster
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

try fix pg
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

try fix pg
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

Update apps + add erpnext
  clusters/main/apps/home/namespace.yaml
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/media/qbittorrent/app/kustomization.yaml
  clusters/main/apps/media/qbittorrent/ks.yaml
  clusters/main/apps/personal/erpnext/app/externalsecret.yaml
  clusters/main/apps/personal/erpnext/app/kustomization.yaml
  clusters/main/apps/personal/erpnext/app/release.yaml
  clusters/main/apps/personal/erpnext/ks.yaml
  clusters/main/apps/personal/hoarder/app/gatus.yaml
  clusters/main/apps/personal/hoarder/app/kustomization.yaml
  clusters/main/apps/personal/hoarder/ks.yaml
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/immich/app/kustomization.yaml
  clusters/main/apps/personal/immich/ks.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/personal/namespace.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/ks.yaml
  clusters/main/apps/tools/atuin/app/kustomization.yaml
  clusters/main/apps/tools/atuin/ks.yaml
  clusters/main/apps/tools/chartdb/app/kustomization.yaml
  clusters/main/apps/tools/chartdb/ks.yaml
  clusters/main/apps/tools/kustomization.yaml
  clusters/main/apps/tools/namespace.yaml
  clusters/main/apps/tools/wakapi/app/kustomization.yaml
  infrastructure/flux/cluster/ks.yaml
  infrastructure/flux/meta/repositories/helm/erpnext.yaml
  infrastructure/flux/meta/repositories/helm/kustomization.yaml
Labels: area/infrastructure, cluster/main

Update apps + add erpnext
  clusters/main/apps/home/namespace.yaml
  clusters/main/apps/media/kustomization.yaml
  clusters/main/apps/media/qbittorrent/app/kustomization.yaml
  clusters/main/apps/media/qbittorrent/ks.yaml
  clusters/main/apps/personal/erpnext/app/externalsecret.yaml
  clusters/main/apps/personal/erpnext/app/kustomization.yaml
  clusters/main/apps/personal/erpnext/app/release.yaml
  clusters/main/apps/personal/erpnext/ks.yaml
  clusters/main/apps/personal/hoarder/app/gatus.yaml
  clusters/main/apps/personal/hoarder/app/kustomization.yaml
  clusters/main/apps/personal/hoarder/ks.yaml
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/immich/app/kustomization.yaml
  clusters/main/apps/personal/immich/ks.yaml
  clusters/main/apps/personal/kustomization.yaml
  clusters/main/apps/personal/namespace.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/ks.yaml
  clusters/main/apps/tools/atuin/app/kustomization.yaml
  clusters/main/apps/tools/atuin/ks.yaml
  clusters/main/apps/tools/chartdb/app/kustomization.yaml
  clusters/main/apps/tools/chartdb/ks.yaml
  clusters/main/apps/tools/kustomization.yaml
  clusters/main/apps/tools/namespace.yaml
  clusters/main/apps/tools/wakapi/app/kustomization.yaml
  infrastructure/flux/cluster/ks.yaml
  infrastructure/flux/meta/repositories/helm/erpnext.yaml
  infrastructure/flux/meta/repositories/helm/kustomization.yaml
Labels: area/infrastructure, cluster/main

Fix path
  clusters/main/apps/personal/erpnext/ks.yaml
Labels: cluster/main

Fix path
  clusters/main/apps/personal/erpnext/ks.yaml
Labels: cluster/main

Try restore pg db again
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

Try restore pg db again
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

try backup immich
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

try backup immich
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

Redo DB's
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/prometheusrule.yaml
  infrastructure/controllers/database/cloudnative-pg/dashboard/kustomization.yaml
  infrastructure/controllers/database/cloudnative-pg/dashboard/release.yaml
Labels: area/infrastructure

Redo DB's
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/prometheusrule.yaml
  infrastructure/controllers/database/cloudnative-pg/dashboard/kustomization.yaml
  infrastructure/controllers/database/cloudnative-pg/dashboard/release.yaml
Labels: area/infrastructure

Update actrions runner
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/externalsecret.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/kustomization.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
Labels: area/infrastructure

Update actrions runner
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/externalsecret.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/kustomization.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
Labels: area/infrastructure

remove dashboard
  infrastructure/controllers/database/cloudnative-pg/ks.yaml
Labels: area/infrastructure

remove dashboard
  infrastructure/controllers/database/cloudnative-pg/ks.yaml
Labels: area/infrastructure

fix volsync dep in qbitorrent
  clusters/main/apps/media/qbittorrent/ks.yaml
Labels: cluster/main

fix volsync dep in qbitorrent
  clusters/main/apps/media/qbittorrent/ks.yaml
Labels: cluster/main

update workflows
  .github/workflows/ansible.yml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

update workflows
  .github/workflows/ansible.yml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

try again
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

Bototstrap edit
  .taskfiles/bootstrap/Taskfile.yaml
Labels: none

Bototstrap edit
  .taskfiles/bootstrap/Taskfile.yaml
Labels: none

Task housekeeping
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .vscode/settings.json
  Taskfile.yaml
  infrastructure/bootstrap/bootstrap.just
  infrastructure/bootstrap/resources.yaml.tpl
Labels: area/infrastructure

Task housekeeping
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .vscode/settings.json
  Taskfile.yaml
  infrastructure/bootstrap/bootstrap.just
  infrastructure/bootstrap/resources.yaml.tpl
Labels: area/infrastructure

update bootstrap helpfile
  infrastructure/bootstrap/helmfile.yaml
Labels: area/infrastructure

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions
