Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

Fix paperless?
  clusters/main/apps/personal/paperless/app/gatus.yaml
  clusters/main/apps/personal/paperless/app/kustomization.yaml
  clusters/main/apps/personal/paperless/ks.yaml
  infrastructure/controllers/cert-manager/namespace.yaml
  infrastructure/controllers/flux-system/add-ons/app/notifications/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/policies/flux.yaml
  infrastructure/templates/alerts/alert.yaml
  infrastructure/templates/alerts/provider.yaml
  infrastructure/templates/gatus/guarded/configmap.xml
  infrastructure/templates/kustomization.yaml
  infrastructure/templates/volsync/pvc.yaml
Labels: area/flux, area/infrastructure, area/security, cluster/main

Fix alert manager rename
  infrastructure/controllers/flux-system/add-ons/app/notifications/alertmanager/alert.yaml
  infrastructure/controllers/flux-system/add-ons/app/notifications/alertmanager/kustomization.yaml
Labels: area/flux, area/infrastructure

Fix alert manager rename
  infrastructure/controllers/flux-system/add-ons/app/notifications/alertmanager/alert.yaml
  infrastructure/controllers/flux-system/add-ons/app/notifications/alertmanager/kustomization.yaml
Labels: area/flux, area/infrastructure

Add cloudflare-ddns
  infrastructure/controllers/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  infrastructure/controllers/networking/cloudflare-ddns/app/cronjob.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
Labels: area/infrastructure

Add cloudflare-ddns
  infrastructure/controllers/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  infrastructure/controllers/networking/cloudflare-ddns/app/cronjob.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
Labels: area/infrastructure

Enable cloudflare-ddns
  infrastructure/controllers/networking/kustomization.yaml
Labels: area/infrastructure

Enable cloudflare-ddns
  infrastructure/controllers/networking/kustomization.yaml
Labels: area/infrastructure

Move templates
  flux/templates/alerts/alert.yaml
  flux/templates/alerts/kustomization.yaml
  flux/templates/alerts/provider.yaml
  flux/templates/gatus/external/configmap.yaml
  flux/templates/gatus/external/kustomization.yaml
  flux/templates/gatus/guarded/configmap.xml
  flux/templates/gatus/guarded/kustomization.yaml
  flux/templates/kustomization.yaml
  flux/templates/namespace/kustomization.yaml
  flux/templates/namespace/namespace.yaml
  flux/templates/volsync/kustomization.yaml
  flux/templates/volsync/nfs.yaml
  flux/templates/volsync/pvc.yaml
  flux/templates/volsync/r2.yaml
  infrastructure/controllers/actions-runner-system/kustomization.yaml
Labels: area/infrastructure

Move templates
  flux/templates/alerts/alert.yaml
  flux/templates/alerts/kustomization.yaml
  flux/templates/alerts/provider.yaml
  flux/templates/gatus/external/configmap.yaml
  flux/templates/gatus/external/kustomization.yaml
  flux/templates/gatus/guarded/configmap.xml
  flux/templates/gatus/guarded/kustomization.yaml
  flux/templates/kustomization.yaml
  flux/templates/namespace/kustomization.yaml
  flux/templates/namespace/namespace.yaml
  flux/templates/volsync/kustomization.yaml
  flux/templates/volsync/nfs.yaml
  flux/templates/volsync/pvc.yaml
  flux/templates/volsync/r2.yaml
  infrastructure/controllers/actions-runner-system/kustomization.yaml
Labels: area/infrastructure

Add quotes to cloudflared conf
  infrastructure/controllers/networking/cloudflared/app/config.yaml
Labels: area/infrastructure

Add quotes to cloudflared conf
  infrastructure/controllers/networking/cloudflared/app/config.yaml
Labels: area/infrastructure

Update secruity apps and ARC
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
  infrastructure/controllers/cert-manager/cert-manager/issuers/letsencrypt.yaml
  infrastructure/controllers/security/authentik/app/externalsecret.yaml
  infrastructure/controllers/security/authentik/app/gatus.yaml
  infrastructure/controllers/security/authentik/app/kustomization.yaml
  infrastructure/controllers/security/authentik/ks.yaml
  infrastructure/controllers/security/external-secrets/app/kustomization.yaml
  infrastructure/controllers/security/external-secrets/app/kustomizeconfig.yaml
  infrastructure/controllers/security/external-secrets/app/release.yaml
  infrastructure/controllers/security/external-secrets/app/resources/values.yaml
  infrastructure/controllers/security/external-secrets/ks.yaml
  infrastructure/controllers/security/kustomization.yaml
  infrastructure/controllers/security/namespace.yaml
  infrastructure/controllers/security/onepassword-connect/ks.yaml
  infrastructure/controllers/security/onepassword/app/kustomization.yaml
  infrastructure/controllers/security/onepassword/app/onepassword.secret.sops.yaml
  infrastructure/controllers/security/onepassword/app/release.yaml
  infrastructure/controllers/security/onepassword/ks.yaml
  infrastructure/controllers/security/onepassword/store/kustomization.yaml
  infrastructure/controllers/security/onepassword/store/onepassword.yaml
Labels: area/infrastructure, area/security

Update secruity apps and ARC
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
  infrastructure/controllers/cert-manager/cert-manager/issuers/letsencrypt.yaml
  infrastructure/controllers/security/authentik/app/externalsecret.yaml
  infrastructure/controllers/security/authentik/app/gatus.yaml
  infrastructure/controllers/security/authentik/app/kustomization.yaml
  infrastructure/controllers/security/authentik/ks.yaml
  infrastructure/controllers/security/external-secrets/app/kustomization.yaml
  infrastructure/controllers/security/external-secrets/app/kustomizeconfig.yaml
  infrastructure/controllers/security/external-secrets/app/release.yaml
  infrastructure/controllers/security/external-secrets/app/resources/values.yaml
  infrastructure/controllers/security/external-secrets/ks.yaml
  infrastructure/controllers/security/kustomization.yaml
  infrastructure/controllers/security/namespace.yaml
  infrastructure/controllers/security/onepassword-connect/ks.yaml
  infrastructure/controllers/security/onepassword/app/kustomization.yaml
  infrastructure/controllers/security/onepassword/app/onepassword.secret.sops.yaml
  infrastructure/controllers/security/onepassword/app/release.yaml
  infrastructure/controllers/security/onepassword/ks.yaml
  infrastructure/controllers/security/onepassword/store/kustomization.yaml
  infrastructure/controllers/security/onepassword/store/onepassword.yaml
Labels: area/infrastructure, area/security

update system upgrade controlller
  infrastructure/controllers/system-upgrade/kustomization.yaml
  infrastructure/controllers/system-upgrade/namespace.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/app/release.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/ks.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/infrastructure

update system upgrade controlller
  infrastructure/controllers/system-upgrade/kustomization.yaml
  infrastructure/controllers/system-upgrade/namespace.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/app/release.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/ks.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/infrastructure

flux-system
  infrastructure/controllers/flux-system/flux-operator/instance/notifications/externalsecret.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/notifications/kustomization.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/notifications/notification.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/values.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/webhook/externalsecret.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/webhook/ingress.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/webhook/kustomization.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/webhook/receiver.yaml
Labels: area/flux, area/infrastructure

flux-system
  infrastructure/controllers/flux-system/flux-operator/instance/notifications/externalsecret.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/notifications/kustomization.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/notifications/notification.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/values.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/webhook/externalsecret.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/webhook/ingress.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/webhook/kustomization.yaml
  infrastructure/controllers/flux-system/flux-operator/instance/webhook/receiver.yaml
Labels: area/flux, area/infrastructure

remove kyverno
  infrastructure/controllers/kyverno/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/app/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/app/release.yaml
  infrastructure/controllers/kyverno/kyverno/ks.yaml
  infrastructure/controllers/kyverno/kyverno/policies/authentik.yaml
  infrastructure/controllers/kyverno/kyverno/policies/flux.yaml
  infrastructure/controllers/kyverno/kyverno/policies/gatus.yaml
  infrastructure/controllers/kyverno/kyverno/policies/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/policies/limits.yaml
  infrastructure/controllers/kyverno/kyverno/policies/ndots.yaml
  infrastructure/controllers/kyverno/kyverno/policies/volsync.yaml
  infrastructure/controllers/kyverno/namespace.yaml
Labels: area/infrastructure

remove kyverno
  infrastructure/controllers/kyverno/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/app/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/app/release.yaml
  infrastructure/controllers/kyverno/kyverno/ks.yaml
  infrastructure/controllers/kyverno/kyverno/policies/authentik.yaml
  infrastructure/controllers/kyverno/kyverno/policies/flux.yaml
  infrastructure/controllers/kyverno/kyverno/policies/gatus.yaml
  infrastructure/controllers/kyverno/kyverno/policies/kustomization.yaml
  infrastructure/controllers/kyverno/kyverno/policies/limits.yaml
  infrastructure/controllers/kyverno/kyverno/policies/ndots.yaml
  infrastructure/controllers/kyverno/kyverno/policies/volsync.yaml
  infrastructure/controllers/kyverno/namespace.yaml
Labels: area/infrastructure

revert apptemplate version update
  infrastructure/controllers/security/onepassword/app/release.yaml
Labels: area/infrastructure

revert apptemplate version update
  infrastructure/controllers/security/onepassword/app/release.yaml
Labels: area/infrastructure

update storage
  infrastructure/controllers/storage/democratic-csi/ks.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/release.yaml
  infrastructure/controllers/storage/kustomization.yaml
  infrastructure/controllers/storage/namespace.yaml
  infrastructure/controllers/storage/openebs/app/release.yaml
  infrastructure/controllers/storage/openebs/ks.yaml
  infrastructure/controllers/storage/snapshot-controller/app/release.yaml
  infrastructure/controllers/storage/snapshot-controller/ks.yaml
  infrastructure/controllers/storage/volsync/app/prometheusrule.yaml
  infrastructure/controllers/storage/volsync/app/release.yaml
  infrastructure/controllers/storage/volsync/ks.yaml
Labels: area/infrastructure, area/storage

update storage
  infrastructure/controllers/storage/democratic-csi/ks.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/release.yaml
  infrastructure/controllers/storage/kustomization.yaml
  infrastructure/controllers/storage/namespace.yaml
  infrastructure/controllers/storage/openebs/app/release.yaml
  infrastructure/controllers/storage/openebs/ks.yaml
  infrastructure/controllers/storage/snapshot-controller/app/release.yaml
  infrastructure/controllers/storage/snapshot-controller/ks.yaml
  infrastructure/controllers/storage/volsync/app/prometheusrule.yaml
  infrastructure/controllers/storage/volsync/app/release.yaml
  infrastructure/controllers/storage/volsync/ks.yaml
Labels: area/infrastructure, area/storage

update rook-ceph
  infrastructure/controllers/rook-ceph/kustomization.yaml
  infrastructure/controllers/rook-ceph/namespace.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/cluster/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/ks.yaml
Labels: area/infrastructure

update rook-ceph
  infrastructure/controllers/rook-ceph/kustomization.yaml
  infrastructure/controllers/rook-ceph/namespace.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/cluster/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/ks.yaml
Labels: area/infrastructure

networking update
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
  infrastructure/controllers/networking/cloudflared/app/config.yaml
  infrastructure/controllers/networking/cloudflared/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflared/app/release.yaml
  infrastructure/controllers/networking/cloudflared/app/resources/config.yaml
  infrastructure/controllers/networking/cloudflared/ks.yaml
  infrastructure/controllers/networking/echo-server/app/release.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
  infrastructure/controllers/networking/external-dns/ks.yaml
  infrastructure/controllers/networking/external-dns/unifi/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
  infrastructure/controllers/networking/kustomization.yaml
  infrastructure/controllers/networking/namespace.yaml
  infrastructure/controllers/networking/nginx/certificates/kustomization.yaml
  infrastructure/controllers/networking/nginx/certificates/wildcard.yaml
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
  infrastructure/controllers/networking/nginx/ks.yaml
  infrastructure/controllers/networking/smtp-relay/app/externalsecret.yaml
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
  infrastructure/controllers/networking/smtp-relay/ks.yaml
Labels: area/infrastructure

networking update
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
  infrastructure/controllers/networking/cloudflared/app/config.yaml
  infrastructure/controllers/networking/cloudflared/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflared/app/release.yaml
  infrastructure/controllers/networking/cloudflared/app/resources/config.yaml
  infrastructure/controllers/networking/cloudflared/ks.yaml
  infrastructure/controllers/networking/echo-server/app/release.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
  infrastructure/controllers/networking/external-dns/ks.yaml
  infrastructure/controllers/networking/external-dns/unifi/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
  infrastructure/controllers/networking/kustomization.yaml
  infrastructure/controllers/networking/namespace.yaml
  infrastructure/controllers/networking/nginx/certificates/kustomization.yaml
  infrastructure/controllers/networking/nginx/certificates/wildcard.yaml
  infrastructure/controllers/networking/nginx/external/release.yaml
  infrastructure/controllers/networking/nginx/internal/release.yaml
  infrastructure/controllers/networking/nginx/ks.yaml
  infrastructure/controllers/networking/smtp-relay/app/externalsecret.yaml
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
  infrastructure/controllers/networking/smtp-relay/ks.yaml
Labels: area/infrastructure

monitoring
  infrastructure/controllers/monitoring/blackbox-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/ks.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/probes/homelab.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/probes/kustomization.yaml
  infrastructure/controllers/monitoring/gatus/app/externalsecret.yaml
  infrastructure/controllers/monitoring/gatus/app/kustomization.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/resources/config.yaml
  infrastructure/controllers/monitoring/grafana/app/externalsecret.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/monitoring/grafana/ks.yaml
  infrastructure/controllers/monitoring/karma/app/release.yaml
  infrastructure/controllers/monitoring/karma/ks.yaml
  infrastructure/controllers/monitoring/kromgo/app/kustomization.yaml
  infrastructure/controllers/monitoring/kromgo/app/release.yaml
  infrastructure/controllers/monitoring/kromgo/app/resources/config.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/release.yaml
  infrastructure/controllers/monitoring/kustomization.yaml
  infrastructure/controllers/monitoring/loki/app/release.yaml
  infrastructure/controllers/monitoring/loki/ks.yaml
  infrastructure/controllers/monitoring/namespace.yaml
  infrastructure/controllers/monitoring/prometheus-operator-crds/ks.yaml
  infrastructure/controllers/monitoring/promtail/ks.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/release.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/ks.yaml
  infrastructure/controllers/monitoring/unpoller/app/externalsecret.yaml
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
  infrastructure/controllers/monitoring/unpoller/ks.yaml
Labels: area/infrastructure, area/monitoring

monitoring
  infrastructure/controllers/monitoring/blackbox-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/ks.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/probes/homelab.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/probes/kustomization.yaml
  infrastructure/controllers/monitoring/gatus/app/externalsecret.yaml
  infrastructure/controllers/monitoring/gatus/app/kustomization.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/resources/config.yaml
  infrastructure/controllers/monitoring/grafana/app/externalsecret.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/monitoring/grafana/ks.yaml
  infrastructure/controllers/monitoring/karma/app/release.yaml
  infrastructure/controllers/monitoring/karma/ks.yaml
  infrastructure/controllers/monitoring/kromgo/app/kustomization.yaml
  infrastructure/controllers/monitoring/kromgo/app/release.yaml
  infrastructure/controllers/monitoring/kromgo/app/resources/config.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/release.yaml
  infrastructure/controllers/monitoring/kustomization.yaml
  infrastructure/controllers/monitoring/loki/app/release.yaml
  infrastructure/controllers/monitoring/loki/ks.yaml
  infrastructure/controllers/monitoring/namespace.yaml
  infrastructure/controllers/monitoring/prometheus-operator-crds/ks.yaml
  infrastructure/controllers/monitoring/promtail/ks.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/release.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/ks.yaml
  infrastructure/controllers/monitoring/unpoller/app/externalsecret.yaml
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
  infrastructure/controllers/monitoring/unpoller/ks.yaml
Labels: area/infrastructure, area/monitoring

kube-system updates
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/resources/values.yaml
  infrastructure/controllers/kube-system/coredns/ks.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/descheduler/ks.yaml
  infrastructure/controllers/kube-system/fstrim/app/kustomization.yaml
  infrastructure/controllers/kube-system/fstrim/app/release.yaml
  infrastructure/controllers/kube-system/fstrim/ks.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/gpu/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/ks.yaml
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
  infrastructure/controllers/kube-system/irqbalance/ks.yaml
  infrastructure/controllers/kube-system/kubelet-csr-approver/app/kustomization.yaml
  infrastructure/controllers/kube-system/kubelet-csr-approver/app/release.yaml
  infrastructure/controllers/kube-system/kubelet-csr-approver/app/values.yaml
  infrastructure/controllers/kube-system/kubelet-csr-approver/ks.yaml
  infrastructure/controllers/kube-system/kustomization.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/kube-system/metrics-server/ks.yaml
  infrastructure/controllers/kube-system/namespace.yaml
  infrastructure/controllers/kube-system/node-feature-discovery/app/release.yaml
  infrastructure/controllers/kube-system/node-feature-discovery/ks.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/reloader/ks.yaml
  infrastructure/controllers/kube-system/spegel/app/kustomization.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/resources/values.yaml
  infrastructure/controllers/kube-system/spegel/ks.yaml
  infrastructure/controllers/monitoring/kromgo/app/resources/config.yaml
Labels: area/infrastructure, area/monitoring

kube-system updates
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/resources/values.yaml
  infrastructure/controllers/kube-system/coredns/ks.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/descheduler/ks.yaml
  infrastructure/controllers/kube-system/fstrim/app/kustomization.yaml
  infrastructure/controllers/kube-system/fstrim/app/release.yaml
  infrastructure/controllers/kube-system/fstrim/ks.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/gpu/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/ks.yaml
  infrastructure/controllers/kube-system/irqbalance/app/release.yaml
  infrastructure/controllers/kube-system/irqbalance/ks.yaml
  infrastructure/controllers/kube-system/kubelet-csr-approver/app/kustomization.yaml
  infrastructure/controllers/kube-system/kubelet-csr-approver/app/release.yaml
  infrastructure/controllers/kube-system/kubelet-csr-approver/app/values.yaml
  infrastructure/controllers/kube-system/kubelet-csr-approver/ks.yaml
  infrastructure/controllers/kube-system/kustomization.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/kube-system/metrics-server/ks.yaml
  infrastructure/controllers/kube-system/namespace.yaml
  infrastructure/controllers/kube-system/node-feature-discovery/app/release.yaml
  infrastructure/controllers/kube-system/node-feature-discovery/ks.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/reloader/ks.yaml
  infrastructure/controllers/kube-system/spegel/app/kustomization.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/resources/values.yaml
  infrastructure/controllers/kube-system/spegel/ks.yaml
  infrastructure/controllers/monitoring/kromgo/app/resources/config.yaml
Labels: area/infrastructure, area/monitoring

cillium update
  infrastructure/controllers/kube-system/cilium/app/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/app/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/cilium/app/resources/values.yaml
  infrastructure/controllers/kube-system/cilium/configs/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/configs/l3.yaml
  infrastructure/controllers/kube-system/cilium/configs/pool.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
  infrastructure/controllers/kube-system/cilium/ks.yaml
Labels: area/infrastructure

cillium update
  infrastructure/controllers/kube-system/cilium/app/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/app/kustomizeconfig.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/cilium/app/resources/values.yaml
  infrastructure/controllers/kube-system/cilium/configs/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/configs/l3.yaml
  infrastructure/controllers/kube-system/cilium/configs/pool.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
  infrastructure/controllers/kube-system/cilium/ks.yaml
Labels: area/infrastructure

remove archive
  .archive/hajimari/app/kustomization.yaml
  .archive/hajimari/app/release.yaml
  .archive/hajimari/ks.yaml
Labels: none

remove archive
  .archive/hajimari/app/kustomization.yaml
  .archive/hajimari/app/release.yaml
  .archive/hajimari/ks.yaml
Labels: none

fixes
  Taskfile.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
  talos/talconfig.yaml
Labels: area/infrastructure

fixes
  Taskfile.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
  talos/talconfig.yaml
Labels: area/infrastructure

fixes
  .taskfiles/bootstrap/Taskfile.yaml
  Taskfile.yaml
  infrastructure/bootstrap/helmfile.yaml
  infrastructure/bootstrap/templates/resources.yaml.tpl
  justfile
  talos/talos.just
Labels: area/infrastructure

fixes
  .taskfiles/bootstrap/Taskfile.yaml
  Taskfile.yaml
  infrastructure/bootstrap/helmfile.yaml
  infrastructure/bootstrap/templates/resources.yaml.tpl
  justfile
  talos/talos.just
Labels: area/infrastructure

update renovate conf
  .github/renovate.json5
  .github/renovate/customManagers.json5
Labels: area/github, type/dependency

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions
