Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions

mroe fix
  clusters/main/apps/personal/immich/ks.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
Labels: area/infrastructure, area/storage, cluster/main

Remove iscsi from democratic-csi
  clusters/main/apps/personal/immich/app/app/kustomization.yaml
  clusters/main/apps/personal/immich/app/app/machine-learning.yaml
  infrastructure/controllers/storage/democratic-csi/iscsi/externalsecret.yaml
  infrastructure/controllers/storage/democratic-csi/iscsi/kustomization.yaml
  infrastructure/controllers/storage/democratic-csi/iscsi/release.yaml
  infrastructure/controllers/storage/democratic-csi/ks.yaml
Labels: area/infrastructure, area/storage, cluster/main

patch coredns
  infrastructure/controllers/kube-system/coredns/app/values.yaml
Labels: area/infrastructure

patch coredns
  infrastructure/controllers/kube-system/coredns/app/values.yaml
Labels: area/infrastructure

patch coredns
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/kustomizeconfig.yaml
Labels: area/infrastructure

patch coredns
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/kustomizeconfig.yaml
Labels: area/infrastructure

Fix immich double nested dir
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/configmap.yaml
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/immich/app/kustomization.yaml
  clusters/main/apps/personal/immich/app/pvc.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  flux/flux.just
Labels: cluster/main

Fix immich double nested dir
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/configmap.yaml
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/gatus.yaml
  clusters/main/apps/personal/immich/app/kustomization.yaml
  clusters/main/apps/personal/immich/app/pvc.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  flux/flux.just
Labels: cluster/main

Update immich
  clusters/main/apps/personal/immich/app/configmap.yaml
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

Update immich
  clusters/main/apps/personal/immich/app/configmap.yaml
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

Fix immich conf
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

Fix immich conf
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

Add vectors to postgres
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure, cluster/main

Add vectors to postgres
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure, cluster/main

Update cloudnative-pg chart to include vecto.rs extension
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

Update cloudnative-pg chart to include vecto.rs extension
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

Revert "Update cloudnative-pg chart to include vecto.rs extension"
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

Revert "Update cloudnative-pg chart to include vecto.rs extension"
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure

Revert "Add vectors to postgres"
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure, cluster/main

Revert "Add vectors to postgres"
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/infrastructure, cluster/main

Deploy seperate pg cluster for immich
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-externalsecret.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/infrastructure

Deploy seperate pg cluster for immich
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-externalsecret.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/infrastructure

Set immich to use ne DB
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure, cluster/main

Set immich to use ne DB
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure, cluster/main

Add vectors to immich db
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

Add vectors to immich db
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

Use onedrop chart for imich init
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Use onedrop chart for imich init
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

fix immich init db version
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

fix immich init db version
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

init v
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

init v
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

add immich db service
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/service.yaml
Labels: area/infrastructure, cluster/main

add immich db service
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/service.yaml
Labels: area/infrastructure, cluster/main

fix immich config
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

fix immich config
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

Fix immich config again
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

Fix immich config again
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

iommich
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

iommich
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main
