Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/docs, area/infrastructure, area/talos, area/bootstrap, area/taskfile, cluster/aeon

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "talos/**/*"

area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

# Clusters
cluster/aeon:
  - changed-files:
    - any-glob-to-any-file: "clusters/aeon/**/*"

# Size labels are automatically handled by GitHub Actions

tidy
  infrastructure/controllers/cert-manager/cert-manager/app/release.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/truenas.yaml
  infrastructure/controllers/cert-manager/cert-manager/tls/certificates.yaml
  infrastructure/controllers/cert-manager/cert-manager/tls/kustomization.yaml
  infrastructure/controllers/cert-manager/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/configmap.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/externalsecret.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/rbac.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/ks.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/helm/values.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/infrastructure

tidy
  infrastructure/controllers/cert-manager/cert-manager/app/release.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/kustomization.yaml
  infrastructure/controllers/cert-manager/cert-manager/certificates/truenas.yaml
  infrastructure/controllers/cert-manager/cert-manager/tls/certificates.yaml
  infrastructure/controllers/cert-manager/cert-manager/tls/kustomization.yaml
  infrastructure/controllers/cert-manager/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/configmap.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/externalsecret.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/kustomization.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/rbac.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/ks.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/helm/values.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/infrastructure

talos manifests update
  talos/controlplane.yaml.j2
Labels: area/talos

talos manifests update
  talos/controlplane.yaml.j2
Labels: area/talos

try managed records
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try managed records
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

rollback
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

rollback
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

Renable cloudflared dns endpoint
  bootstrap/secrets.yaml.tpl
  infrastructure/controllers/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  infrastructure/controllers/networking/cloudflare-ddns/app/cronjob.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
  infrastructure/controllers/networking/cloudflared/app/dnsendpoint.yaml
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
Labels: area/infrastructure, area/bootstrap

Renable cloudflared dns endpoint
  -
  bootstrap/secrets.yaml.tpl
  infrastructure/controllers/networking/cloudflare-ddns/app/cloudflare-ddns.sh
  infrastructure/controllers/networking/cloudflare-ddns/app/cronjob.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflare-ddns/ks.yaml
  infrastructure/controllers/networking/cloudflared/app/dnsendpoint.yaml
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
Labels: area/infrastructure, area/bootstrap

fix secret pulling into cloudflared
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflared/ks.yaml
Labels: area/infrastructure

fix secret pulling into cloudflared
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
  infrastructure/controllers/networking/cloudflared/ks.yaml
Labels: area/infrastructure

try devin external-dns
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try devin external-dns
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

fix secret ref
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

fix secret ref
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

remove duplicate flag
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

remove duplicate flag
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

remove events
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

remove events
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

correct catus path
  clusters/aeon/apps/media/plex/ks.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
Labels: area/infrastructure, cluster/aeon

correct catus path
  clusters/aeon/apps/media/plex/ks.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
Labels: area/infrastructure, cluster/aeon

remove gatus from bookstack
  clusters/aeon/apps/tools/bookstack/ks.yaml
Labels: cluster/aeon

remove gatus from bookstack
  clusters/aeon/apps/tools/bookstack/ks.yaml
Labels: cluster/aeon

add this back in
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
Labels: area/infrastructure

add this back in
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
Labels: area/infrastructure

more fuckery
  infrastructure/controllers/networking/external-dns/cloudflare/rbac.yaml
  infrastructure/flux/components/gatus/external/config.yaml
Labels: area/infrastructure

more fuckery
  infrastructure/controllers/networking/external-dns/cloudflare/rbac.yaml
  infrastructure/flux/components/gatus/external/config.yaml
Labels: area/infrastructure

remove
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
Labels: area/infrastructure

remove
  infrastructure/controllers/networking/cloudflared/app/kustomization.yaml
Labels: area/infrastructure

try rbac in chart
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try rbac in chart
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

remove rbac
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
Labels: area/infrastructure

remove rbac
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
Labels: area/infrastructure

add rback back in
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
Labels: area/infrastructure

add rback back in
  infrastructure/controllers/networking/external-dns/cloudflare/kustomization.yaml
Labels: area/infrastructure

unpoller still weird
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure

unpoller still weird
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure
