Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions

Remove probes
  clusters/main/apps/tools/chartdb/app/release.yaml
Labels: cluster/main

Remove probes
  clusters/main/apps/tools/chartdb/app/release.yaml
Labels: cluster/main

Fix hoarder release
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

Fix hoarder release
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

Try hoarder again
  clusters/main/apps/personal/hoarder/app/externalsecret.yaml
  clusters/main/apps/personal/hoarder/app/pvc.yaml
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

Try hoarder again
  clusters/main/apps/personal/hoarder/app/externalsecret.yaml
  clusters/main/apps/personal/hoarder/app/pvc.yaml
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

Try fix hoarder
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

Try fix hoarder
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

TRry hoarder again
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

TRry hoarder again
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

hoarder
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

hoarder
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

fix hoarder release
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

fix hoarder release
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

hoarder
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

hoarder
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

hoarder
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

hoarder
  clusters/main/apps/personal/hoarder/app/release.yaml
Labels: cluster/main

temp disable memory in flux builds
  clusters/main/flux-system/kustomization.yaml
Labels: area/flux, cluster/main

temp disable memory in flux builds
  clusters/main/flux-system/kustomization.yaml
Labels: area/flux, cluster/main

try and fix this shit
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/flux-system/kustomization.yaml
Labels: area/flux, cluster/main

try and fix this shit
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/flux-system/kustomization.yaml
Labels: area/flux, cluster/main

increase cache size
  clusters/main/flux-system/kustomization.yaml
Labels: area/flux, cluster/main

increase cache size
  clusters/main/flux-system/kustomization.yaml
Labels: area/flux, cluster/main

immmich conf
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

fix immich kustomization
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

patch coredns
  infrastructure/controllers/kube-system/coredns/app/values.yaml
Labels: area/infrastructure

immmich conf
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

fucking reload the damn config
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Add vectors to immich db
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

Fix immich config again
  clusters/main/apps/personal/immich/app/config/immich.config.json
Labels: cluster/main

Try to fix it ....
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  flux/flux.just
Labels: cluster/main

patch coredns
  infrastructure/controllers/kube-system/coredns/app/kustomization.yaml
  infrastructure/controllers/kube-system/coredns/app/kustomizeconfig.yaml
Labels: area/infrastructure

enable OIDC for immich
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/externalsecret.yaml
Labels: cluster/main

fix immich auth url
  clusters/main/apps/personal/immich/app/config/immich.config.json
  clusters/main/apps/personal/immich/app/kustomization.yaml
  flux/flux.just
Labels: cluster/main

Add vectors to immich db
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-cluster.yaml
Labels: area/infrastructure

Adjust immich secret reload
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

add immich db service
  clusters/main/apps/personal/immich/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/service.yaml
Labels: area/infrastructure, cluster/main

try again
  clusters/main/apps/personal/immich/app/release.yaml
Labels: cluster/main

Try to fix it ....
  clusters/main/apps/personal/immich/app/externalsecret.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  flux/flux.just
Labels: cluster/main
