Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/docs, area/infrastructure, area/talos, area/bootstrap, area/taskfile, cluster/aeon

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "talos/**/*"

area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

# Clusters
cluster/aeon:
  - changed-files:
    - any-glob-to-any-file: "clusters/aeon/**/*"

# Size labels are automatically handled by GitHub Actions

cleanup qb
  clusters/aeon/apps/media/media-pvc.yaml
  clusters/aeon/apps/media/qbittorrent/app/debug-pod.yaml
  clusters/aeon/apps/media/qbittorrent/app/release.yaml
Labels: cluster/aeon

cleanup qb
  clusters/aeon/apps/media/media-pvc.yaml
  clusters/aeon/apps/media/qbittorrent/app/debug-pod.yaml
  clusters/aeon/apps/media/qbittorrent/app/release.yaml
Labels: cluster/aeon

Cleanup version in externalsecret crds
  clusters/aeon/apps/personal/hoarder/app/externalsecret.yaml
  clusters/aeon/apps/personal/immich/app/externalsecret.yaml
  clusters/aeon/apps/personal/paperless/app/externalsecret.yaml
  clusters/aeon/apps/personal/vikunja/app/externalsecret.yaml
  clusters/aeon/apps/tools/atuin/app/externalsecret.yaml
  clusters/aeon/apps/tools/chartdb/app/externalsecret.yaml
  clusters/aeon/apps/tools/erpnext/app/externalsecret.yaml
  clusters/aeon/apps/tools/wakapi/app/externalsecret.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/externalsecret.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/externalsecret.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-externalsecret.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
  infrastructure/flux/components/volsync/nfs.yaml
Labels: area/infrastructure, cluster/aeon

Cleanup version in externalsecret crds
  clusters/aeon/apps/personal/hoarder/app/externalsecret.yaml
  clusters/aeon/apps/personal/immich/app/externalsecret.yaml
  clusters/aeon/apps/personal/paperless/app/externalsecret.yaml
  clusters/aeon/apps/personal/vikunja/app/externalsecret.yaml
  clusters/aeon/apps/tools/atuin/app/externalsecret.yaml
  clusters/aeon/apps/tools/chartdb/app/externalsecret.yaml
  clusters/aeon/apps/tools/erpnext/app/externalsecret.yaml
  clusters/aeon/apps/tools/wakapi/app/externalsecret.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/externalsecret.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/externalsecret.yaml
  infrastructure/controllers/database/cloudnative-pg/cluster/immich-externalsecret.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
  infrastructure/controllers/storage/democratic-csi/nfs/externalsecret.yaml
  infrastructure/flux/components/volsync/nfs.yaml
Labels: area/infrastructure, cluster/aeon

Add mariaDB
  infrastructure/controllers/database/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
  infrastructure/controllers/database/mariadb/ks.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
Labels: area/infrastructure

Add mariaDB
  infrastructure/controllers/database/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
  infrastructure/controllers/database/mariadb/app/kustomization.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
  infrastructure/controllers/database/mariadb/ks.yaml
  infrastructure/controllers/networking/cloudflare-ddns/app/externalsecret.yaml
Labels: area/infrastructure

remove digest
  clusters/aeon/apps/personal/vikunja/app/release.yaml
Labels: cluster/aeon

remove digest
  clusters/aeon/apps/personal/vikunja/app/release.yaml
Labels: cluster/aeon

forgot mariadb ks
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

forgot mariadb ks
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

fir volsync path
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

fir volsync path
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

update volsync path again
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

update volsync path again
  infrastructure/controllers/database/mariadb/ks.yaml
Labels: area/infrastructure

remove verify from mariadb OCI repo
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

remove verify from mariadb OCI repo
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

Add bookstack
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
  clusters/aeon/apps/tools/bookstack/app/kustomization.yaml
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  clusters/aeon/apps/tools/bookstack/ks.yaml
  clusters/aeon/apps/tools/kustomization.yaml
Labels: cluster/aeon

Add bookstack
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
  clusters/aeon/apps/tools/bookstack/app/kustomization.yaml
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  clusters/aeon/apps/tools/bookstack/ks.yaml
  clusters/aeon/apps/tools/kustomization.yaml
Labels: cluster/aeon

change bookstack url
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

change bookstack url
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

update filesystem
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

update filesystem
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

update permisions on bookstack
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

update permisions on bookstack
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

update bookstack
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

update bookstack
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

bookstack
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

bookstack
  clusters/aeon/apps/tools/bookstack/app/release.yaml
Labels: cluster/aeon

Try update mariadb
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

Try update mariadb
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

update initscript
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

update initscript
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

update maria
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure, cluster/aeon

update maria
  clusters/aeon/apps/tools/bookstack/app/externalsecret.yaml
  clusters/aeon/apps/tools/bookstack/app/release.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure, cluster/aeon

maira release secrets
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

maira release secrets
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
  infrastructure/controllers/database/mariadb/app/release.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
Labels: area/infrastructure

try again
  infrastructure/controllers/database/mariadb/app/externalsecret.yaml
Labels: area/infrastructure
