Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/docs, area/infrastructure, area/talos, area/bootstrap, area/taskfile, cluster/aeon

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "talos/**/*"

area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*

area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - .taskfiles/**/*
          - Taskfile.yaml

# Clusters
cluster/aeon:
  - changed-files:
    - any-glob-to-any-file: "clusters/aeon/**/*"

# Size labels are automatically handled by GitHub Actions

fix source url
  infrastructure/flux/meta/repositories/oci/app-template.yaml
Labels: area/infrastructure

app-template not updating
  infrastructure/flux/meta/repositories/oci/app-template.yaml
Labels: area/infrastructure

update flux
  infrastructure/controllers/flux-system/flux-instance/app/kustomization.yaml
  infrastructure/controllers/flux-system/flux-instance/app/release.yaml
  infrastructure/controllers/flux-system/flux-instance/app/repository.yaml
  infrastructure/controllers/flux-system/flux-instance/app/resources/values.yaml
  infrastructure/controllers/flux-system/flux-operator/app/kustomization.yaml
  infrastructure/controllers/flux-system/flux-operator/app/release.yaml
  infrastructure/controllers/flux-system/flux-operator/app/repository.yaml
Labels: area/infrastructure

temp dissable cluster apps
  clusters/aeon/apps/media/kustomization.yaml
  clusters/aeon/apps/personal/kustomization.yaml
  clusters/aeon/apps/security/kustomization.yaml
  clusters/aeon/apps/tools/kustomization.yaml
Labels: cluster/aeon

rever to v1beta2 so we can update
  infrastructure/controllers/flux-system/flux-instance/app/release.yaml
  infrastructure/controllers/flux-system/flux-operator/app/release.yaml
  infrastructure/flux/meta/repositories/oci/app-template.yaml
Labels: area/infrastructure

try switch from OCIrepo v1beta2 -> v1 agains
  clusters/aeon/apps/tools/n8n/app/release.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/app/release.yaml
  infrastructure/controllers/actions-runner-system/actions-runner-controller/runners/gitops-homelab/release.yaml
  infrastructure/controllers/cert-manager/cert-manager/app/release.yaml
  infrastructure/controllers/database/cloudnative-pg/app/release.yaml
  infrastructure/controllers/database/emqx/app/release.yaml
  infrastructure/controllers/external-secrets/external-secrets/app/helm/values.yaml
  infrastructure/controllers/external-secrets/external-secrets/app/release.yaml
  infrastructure/controllers/flux-system/flux-instance/app/release.yaml
  infrastructure/controllers/flux-system/flux-operator/app/release.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/gpu/release.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/release.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
  infrastructure/controllers/monitoring/loki/app/release.yaml
  infrastructure/controllers/monitoring/promtail/app/repository.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/repository.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/cluster/release.yaml
  infrastructure/controllers/storage/openebs/app/release.yaml
  infrastructure/controllers/storage/snapshot-controller/app/release.yaml
  infrastructure/controllers/storage/volsync/app/release.yaml
  infrastructure/flux/meta/repositories/oci/app-template.yaml
Labels: area/infrastructure, cluster/aeon

update bootstrap versions
  bootstrap/helmfile.yaml
Labels: area/bootstrap

update apiversion on secret store
  infrastructure/controllers/external-secrets/onepassword/app/clustersecretstore.yaml
Labels: area/infrastructure

update healthcheck api version
  infrastructure/controllers/external-secrets/onepassword/ks.yaml
Labels: area/infrastructure

fix secret stores
  infrastructure/controllers/external-secrets/external-secrets/ks.yaml
  infrastructure/controllers/external-secrets/onepassword/app/release.yaml
  infrastructure/controllers/external-secrets/onepassword/ks.yaml
  infrastructure/controllers/external-secrets/onepassword/stores/kustomization.yaml
  infrastructure/controllers/external-secrets/onepassword/stores/onepassword.yaml
Labels: area/infrastructure

oops
  infrastructure/flux/meta/repositories/oci/app-template.yaml
Labels: area/infrastructure

disable irqbalance
  infrastructure/controllers/kube-system/kustomization.yaml
Labels: area/infrastructure

fix breaking changes
  infrastructure/controllers/database/dragonfly/operator/release.yaml
  infrastructure/controllers/monitoring/gatus/app/rbac.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/resources/config.yaml
  infrastructure/controllers/monitoring/karma/app/release.yaml
  infrastructure/controllers/monitoring/kromgo/app/release.yaml
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
  infrastructure/controllers/networking/cloudflared/app/release.yaml
  infrastructure/controllers/networking/echo-server/app/release.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/rbac.yaml
  infrastructure/controllers/networking/external-dns/unifi/kustomization.yaml
  infrastructure/controllers/networking/external-dns/unifi/prometheusrule.yaml
  infrastructure/controllers/networking/external-dns/unifi/rbac.yaml
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
  infrastructure/controllers/networking/multus/app/rbac.yaml
  infrastructure/controllers/networking/multus/app/release.yaml
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/app/release.yaml
  infrastructure/controllers/rook-ceph/rook-ceph/cluster/release.yaml
  infrastructure/controllers/storage/openebs/app/release.yaml
  infrastructure/controllers/storage/snapshot-controller/app/release.yaml
  infrastructure/controllers/storage/volsync/app/release.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/app/rbac.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/app/release.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/ks.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/infrastructure

update kube-system
  infrastructure/controllers/kube-system/cilium/app/helm/values.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/coredns/app/release.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/kube-system/reloader/app/release.yaml
  infrastructure/controllers/kube-system/spegel/app/helm/values.yaml
  infrastructure/controllers/kube-system/spegel/app/release.yaml
Labels: area/infrastructure

more fixes
  infrastructure/controllers/database/dragonfly/operator/rbac.yaml
  infrastructure/controllers/networking/external-dns/ks.yaml
Labels: area/infrastructure

add smtp cache
  infrastructure/controllers/networking/smtp-relay/app/release.yaml
Labels: area/infrastructure

create rbac
  infrastructure/controllers/database/dragonfly/operator/release.yaml
Labels: area/infrastructure

fix rbac on cloudflare
  infrastructure/controllers/networking/external-dns/cloudflare/rbac.yaml
Labels: area/infrastructure

add sbr
  infrastructure/controllers/networking/multus/networks/iot.yaml
Labels: area/infrastructure

add zigbee and mqtt
  clusters/aeon/apps/home/kustomization.yaml
  clusters/aeon/apps/home/mosquitto/app/kustomization.yaml
  clusters/aeon/apps/home/mosquitto/app/pvc.yaml
  clusters/aeon/apps/home/mosquitto/app/release.yaml
  clusters/aeon/apps/home/mosquitto/app/resources/mosquitto.conf
  clusters/aeon/apps/home/mosquitto/ks.yaml
  clusters/aeon/apps/home/zigbee2mqtt/app/externalsecret.yaml
  clusters/aeon/apps/home/zigbee2mqtt/app/kustomization.yaml
  clusters/aeon/apps/home/zigbee2mqtt/app/release.yaml
  clusters/aeon/apps/home/zigbee2mqtt/app/resources/lokirule.yaml
  clusters/aeon/apps/home/zigbee2mqtt/app/scaledobject.yaml
  clusters/aeon/apps/home/zigbee2mqtt/ks.yaml
Labels: cluster/aeon

update talos
  talos/controlplane.yaml.j2
  talos/controlplane/ifrit.yaml
  talos/controlplane/ramuh.yaml
  talos/controlplane/shiva.yaml
Labels: area/talos

fix path
  clusters/aeon/apps/home/zigbee2mqtt/app/scaledobject.yaml
Labels: cluster/aeon

add keda, allow and silence-operator
  infrastructure/controllers/monitoring/alloy/app/kustomization.yaml
  infrastructure/controllers/monitoring/alloy/app/release.yaml
  infrastructure/controllers/monitoring/alloy/app/resources/config.alloy
  infrastructure/controllers/monitoring/alloy/ks.yaml
  infrastructure/controllers/monitoring/keda/app/kustomization.yaml
  infrastructure/controllers/monitoring/keda/app/release.yaml
  infrastructure/controllers/monitoring/keda/ks.yaml
  infrastructure/controllers/monitoring/kustomization.yaml
  infrastructure/controllers/monitoring/silence-operator/app/kustomization.yaml
  infrastructure/controllers/monitoring/silence-operator/app/release.yaml
  infrastructure/controllers/monitoring/silence-operator/ks.yaml
  infrastructure/controllers/monitoring/silence-operator/silences/kustomization.yaml
  infrastructure/controllers/monitoring/silence-operator/silences/silences.yaml
Labels: area/infrastructure

fix alloy
  infrastructure/controllers/monitoring/alloy/app/kustomization.yaml
Labels: area/infrastructure

update monitoring
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/ks.yaml
  infrastructure/controllers/monitoring/loki/app/release.yaml
Labels: area/infrastructure

promtail depreciated
  infrastructure/controllers/monitoring/kustomization.yaml
  infrastructure/controllers/monitoring/promtail/app/kustomization.yaml
  infrastructure/controllers/monitoring/promtail/app/release.yaml
  infrastructure/controllers/monitoring/promtail/app/repository.yaml
  infrastructure/controllers/monitoring/promtail/ks.yaml
Labels: area/infrastructure

try fix the external-dns for unifi webhook
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure

update ks on zigbee
  clusters/aeon/apps/home/zigbee2mqtt/ks.yaml
Labels: cluster/aeon

done use scaler
  clusters/aeon/apps/home/zigbee2mqtt/app/kustomization.yaml
Labels: cluster/aeon

scale again
  clusters/aeon/apps/home/zigbee2mqtt/app/kustomization.yaml
Labels: cluster/aeon

fix volsync namespace
  clusters/aeon/apps/home/zigbee2mqtt/ks.yaml
Labels: cluster/aeon

meh
  clusters/aeon/apps/home/zigbee2mqtt/app/kustomization.yaml
Labels: cluster/aeon

rollback external-dns for debug
  infrastructure/controllers/networking/external-dns/unifi/release.yaml
Labels: area/infrastructure

remove ipv6 from cilium
  infrastructure/controllers/kube-system/cilium/configs/pool.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
  infrastructure/controllers/kube-system/cilium/gateway/external.yaml
Labels: area/infrastructure

add enpoints to rbac
  infrastructure/controllers/networking/external-dns/unifi/rbac.yaml
Labels: area/infrastructure

try get zigbee http-route working
  clusters/aeon/apps/home/zigbee2mqtt/app/release.yaml
Labels: cluster/aeon

remove ipv6 from internal
  infrastructure/controllers/kube-system/cilium/gateway/internal.yaml
Labels: area/infrastructure

update zigbee port
  clusters/aeon/apps/home/zigbee2mqtt/app/release.yaml
Labels: cluster/aeon

debug zigbee
  clusters/aeon/apps/home/zigbee2mqtt/app/release.yaml
Labels: cluster/aeon

reset port and try no baudrate
  clusters/aeon/apps/home/zigbee2mqtt/app/release.yaml
Labels: cluster/aeon
