Repository KyteProject/gitops-homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/apps, area/flux, area/github, area/docs, area/infrastructure, area/monitoring, area/security, area/storage, area/talos, cluster/main, type/documentation, type/dependency

update flux instance location in bootstrap file
  infrastructure/bootstrap/helmfile.yaml
Labels: area/infrastructure

Fix flux version
  infrastructure/controllers/flux-system/flux-instance/app/resources/values.yaml
Labels: area/flux, area/infrastructure

Fix flux version
  infrastructure/controllers/flux-system/flux-instance/app/resources/values.yaml
Labels: area/flux, area/infrastructure

Update monitoring stack to use OCI
  infrastructure/controllers/monitoring/blackbox-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/repository.yaml
  infrastructure/controllers/monitoring/gatus/app/externalsecret.yaml
  infrastructure/controllers/monitoring/gatus/app/kustomization.yaml
  infrastructure/controllers/monitoring/gatus/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/resources/config.yaml
  infrastructure/controllers/monitoring/grafana/app/externalsecret.yaml
  infrastructure/controllers/monitoring/grafana/app/kustomization.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/monitoring/grafana/app/repository.yaml
  infrastructure/controllers/monitoring/karma/app/release.yaml
  infrastructure/controllers/monitoring/kromgo/app/release.yaml
  infrastructure/controllers/monitoring/kromgo/app/resources/config.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/kustomization.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/repository.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/ks.yaml
  infrastructure/controllers/monitoring/loki/app/release.yaml
  infrastructure/controllers/monitoring/promtail/app/kustomization.yaml
  infrastructure/controllers/monitoring/promtail/app/release.yaml
  infrastructure/controllers/monitoring/promtail/app/repository.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/release.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/repository.yaml
  infrastructure/controllers/monitoring/unpoller/app/externalsecret.yaml
  infrastructure/controllers/monitoring/unpoller/app/kustomization.yaml
  infrastructure/controllers/monitoring/unpoller/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure, area/monitoring

Update monitoring stack to use OCI
  infrastructure/controllers/monitoring/blackbox-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/repository.yaml
  infrastructure/controllers/monitoring/gatus/app/externalsecret.yaml
  infrastructure/controllers/monitoring/gatus/app/kustomization.yaml
  infrastructure/controllers/monitoring/gatus/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/resources/config.yaml
  infrastructure/controllers/monitoring/grafana/app/externalsecret.yaml
  infrastructure/controllers/monitoring/grafana/app/kustomization.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/monitoring/grafana/app/repository.yaml
  infrastructure/controllers/monitoring/karma/app/release.yaml
  infrastructure/controllers/monitoring/kromgo/app/release.yaml
  infrastructure/controllers/monitoring/kromgo/app/resources/config.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/kustomization.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/release.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/app/repository.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/ks.yaml
  infrastructure/controllers/monitoring/loki/app/release.yaml
  infrastructure/controllers/monitoring/promtail/app/kustomization.yaml
  infrastructure/controllers/monitoring/promtail/app/release.yaml
  infrastructure/controllers/monitoring/promtail/app/repository.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/release.yaml
  infrastructure/controllers/monitoring/smartctl-exporter/app/repository.yaml
  infrastructure/controllers/monitoring/unpoller/app/externalsecret.yaml
  infrastructure/controllers/monitoring/unpoller/app/kustomization.yaml
  infrastructure/controllers/monitoring/unpoller/app/prometheusrule.yaml
  infrastructure/controllers/monitoring/unpoller/app/release.yaml
Labels: area/infrastructure, area/monitoring

upgrade talos/k8s
  infrastructure/controllers/system-upgrade/system-upgrade-controller/app/release.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/ks.yaml
  talos/talconfig.yaml
Labels: area/infrastructure

upgrade talos/k8s
  infrastructure/controllers/system-upgrade/system-upgrade-controller/app/release.yaml
  infrastructure/controllers/system-upgrade/system-upgrade-controller/ks.yaml
  talos/talconfig.yaml
Labels: area/infrastructure

Add more task automation for workstation and talos
  .gitignore
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/workstation/Taskfile.yaml
  .taskfiles/workstation/resources/Brewfile
  .vscode/settings.json
  Taskfile.yaml
  justfile
  talos/README.md
  talos/controlplane.yaml.j2
  talos/controlplane/ifrit.yaml
  talos/controlplane/ramuh.yaml
  talos/controlplane/shiva.yaml
Labels: type/documentation

Add more task automation for workstation and talos
  .gitignore
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/workstation/Taskfile.yaml
  .taskfiles/workstation/resources/Brewfile
  .vscode/settings.json
  Taskfile.yaml
  justfile
  talos/README.md
  talos/controlplane.yaml.j2
  talos/controlplane/ifrit.yaml
  talos/controlplane/ramuh.yaml
  talos/controlplane/shiva.yaml
Labels: type/documentation

update talos installer hash
  talos/controlplane.yaml.j2
Labels: none

update talos installer hash
  talos/controlplane.yaml.j2
Labels: none

remove old talos conf
  talos/talconfig.yaml
Labels: none

remove old talos conf
  talos/talconfig.yaml
Labels: none

upodate gitignore
  .gitignore
Labels: none

upodate gitignore
  .gitignore
Labels: none

Update bootstrapping
  .taskfiles/bootstrap/Taskfile.yaml
  Taskfile.yaml
  bootstrap/helmfile.yaml
  bootstrap/secrets.yaml.tpl
  infrastructure/bootstrap/resources/rook-wipe-job.tmpl.yaml
Labels: area/infrastructure

Update bootstrapping
  .taskfiles/bootstrap/Taskfile.yaml
  Taskfile.yaml
  bootstrap/helmfile.yaml
  bootstrap/secrets.yaml.tpl
  infrastructure/bootstrap/resources/rook-wipe-job.tmpl.yaml
Labels: area/infrastructure

Try fix external-dns cloudflare
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

Try fix external-dns cloudflare
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try fix cloudflare again
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

try fix cloudflare again
  infrastructure/controllers/networking/external-dns/cloudflare/externalsecret.yaml
  infrastructure/controllers/networking/external-dns/cloudflare/release.yaml
Labels: area/infrastructure

Cleanup missconfigs
  clusters/main/apps/media/qbittorrent/app/release.yaml
  clusters/main/apps/tools/atuin/app/release.yaml
  clusters/main/apps/tools/chartdb/app/release.yaml
  clusters/main/apps/tools/wakapi/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/security/onepassword/app/release.yaml
Labels: area/infrastructure, area/monitoring, cluster/main

Cleanup missconfigs
  clusters/main/apps/media/qbittorrent/app/release.yaml
  clusters/main/apps/tools/atuin/app/release.yaml
  clusters/main/apps/tools/chartdb/app/release.yaml
  clusters/main/apps/tools/wakapi/app/release.yaml
  infrastructure/controllers/monitoring/gatus/app/release.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/security/onepassword/app/release.yaml
Labels: area/infrastructure, area/monitoring, cluster/main

cleanup flux
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/apps/personal/paperless/app/release.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/flux/cluster/ks.yaml
  infrastructure/flux/components/common/namespace/namespace.yaml
  infrastructure/flux/components/gatus/config.yaml
  infrastructure/flux/components/gatus/guarded/config.yaml
  infrastructure/flux/components/gatus/guarded/kustomization.yaml
  infrastructure/flux/components/gatus/kustomization.yaml
  infrastructure/flux/meta/repositories/helm/kustomization.yaml
  infrastructure/flux/meta/repositories/oci/kustomization.yaml
Labels: area/infrastructure, area/monitoring, cluster/main

cleanup flux
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/apps/personal/paperless/app/release.yaml
  infrastructure/controllers/monitoring/gatus/ks.yaml
  infrastructure/controllers/monitoring/kromgo/ks.yaml
  infrastructure/controllers/networking/echo-server/ks.yaml
  infrastructure/flux/cluster/ks.yaml
  infrastructure/flux/components/common/namespace/namespace.yaml
  infrastructure/flux/components/gatus/config.yaml
  infrastructure/flux/components/gatus/guarded/config.yaml
  infrastructure/flux/components/gatus/guarded/kustomization.yaml
  infrastructure/flux/components/gatus/kustomization.yaml
  infrastructure/flux/meta/repositories/helm/kustomization.yaml
  infrastructure/flux/meta/repositories/oci/kustomization.yaml
Labels: area/infrastructure, area/monitoring, cluster/main

update talos installer
  infrastructure/controllers/system-upgrade/system-upgrade-controller/ks.yaml
  talos/controlplane.yaml.j2
Labels: area/infrastructure

update talos installer
  infrastructure/controllers/system-upgrade/system-upgrade-controller/ks.yaml
  talos/controlplane.yaml.j2
Labels: area/infrastructure

Bootstrap / cilium fixes
  bootstrap/helmfile.yaml
  infrastructure/controllers/kube-system/cilium/app/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/cilium/app/resources/values.yaml
  infrastructure/controllers/kube-system/cilium/configs/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/configs/pool.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
  talos/controlplane.yaml.j2
  talos/talsecret.sops.yaml
Labels: area/infrastructure, area/security

Bootstrap / cilium fixes
  bootstrap/helmfile.yaml
  infrastructure/controllers/kube-system/cilium/app/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/app/release.yaml
  infrastructure/controllers/kube-system/cilium/app/resources/values.yaml
  infrastructure/controllers/kube-system/cilium/configs/kustomization.yaml
  infrastructure/controllers/kube-system/cilium/configs/pool.yaml
  infrastructure/controllers/kube-system/cilium/configs/vip.yaml
  talos/controlplane.yaml.j2
  talos/talsecret.sops.yaml
Labels: area/infrastructure, area/security

Cleanup volsync and add R2 tasks
  .taskfiles/r2/Taskfile.yaml
  .taskfiles/workstation/resources/Brewfile
  Taskfile.yaml
  infrastructure/flux/components/volsync/kustomization.yaml
  infrastructure/flux/components/volsync/r2.yaml
  infrastructure/flux/components/volsync/r2/externalsecret.yaml
  infrastructure/flux/components/volsync/r2/kustomization.yaml
  infrastructure/flux/components/volsync/r2/replicationdestination.yaml
  infrastructure/flux/components/volsync/r2/replicationsource.yaml
Labels: area/infrastructure

Cleanup volsync and add R2 tasks
  .taskfiles/r2/Taskfile.yaml
  .taskfiles/workstation/resources/Brewfile
  Taskfile.yaml
  infrastructure/flux/components/volsync/kustomization.yaml
  infrastructure/flux/components/volsync/r2.yaml
  infrastructure/flux/components/volsync/r2/externalsecret.yaml
  infrastructure/flux/components/volsync/r2/kustomization.yaml
  infrastructure/flux/components/volsync/r2/replicationdestination.yaml
  infrastructure/flux/components/volsync/r2/replicationsource.yaml
Labels: area/infrastructure

Fix bootstrap helmchart again (why did this revert?)
  bootstrap/helmfile.yaml
Labels: none

Fix bootstrap helmchart again (why did this revert?)
  bootstrap/helmfile.yaml
Labels: none

Fix bootstrap helmfile again
  bootstrap/helmfile.yaml
Labels: none

Fix bootstrap helmfile again
  bootstrap/helmfile.yaml
Labels: none

Fix external-secrets components path
  infrastructure/controllers/external-secrets/kustomization.yaml
Labels: area/infrastructure

Fix external-secrets components path
  infrastructure/controllers/external-secrets/kustomization.yaml
Labels: area/infrastructure

Fix typos in deployments
  clusters/main/apps/media/qbittorrent/tools/qbtools/release.yaml
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  clusters/main/apps/personal/paperless/app/release.yaml
  clusters/main/apps/tools/atuin/app/release.yaml
  clusters/main/apps/tools/chartdb/app/release.yaml
  clusters/main/apps/tools/wakapi/app/release.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
  infrastructure/controllers/database/dragonfly/operator/release.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/gpu/release.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/repository.yaml
  infrastructure/controllers/monitoring/grafana/app/kustomization.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/monitoring/grafana/app/repository.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/release.yaml
  infrastructure/controllers/storage/openebs/app/release.yaml
Labels: area/infrastructure, area/monitoring, area/security, area/storage, cluster/main

Fix typos in deployments
  clusters/main/apps/media/qbittorrent/tools/qbtools/release.yaml
  clusters/main/apps/personal/hoarder/app/release.yaml
  clusters/main/apps/personal/immich/app/release.yaml
  clusters/main/apps/personal/paperless/app/release.yaml
  clusters/main/apps/tools/atuin/app/release.yaml
  clusters/main/apps/tools/chartdb/app/release.yaml
  clusters/main/apps/tools/wakapi/app/release.yaml
  infrastructure/controllers/cert-manager/truenas-cert-sync/app/release.yaml
  infrastructure/controllers/database/dragonfly/operator/release.yaml
  infrastructure/controllers/kube-system/descheduler/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/app/release.yaml
  infrastructure/controllers/kube-system/intel-device-plugin/gpu/release.yaml
  infrastructure/controllers/kube-system/metrics-server/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/kustomization.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/release.yaml
  infrastructure/controllers/monitoring/blackbox-exporter/app/repository.yaml
  infrastructure/controllers/monitoring/grafana/app/kustomization.yaml
  infrastructure/controllers/monitoring/grafana/app/release.yaml
  infrastructure/controllers/monitoring/grafana/app/repository.yaml
  infrastructure/controllers/monitoring/kube-prometheus-stack/tools/alertmanager-silencer/release.yaml
  infrastructure/controllers/storage/openebs/app/release.yaml
Labels: area/infrastructure, area/monitoring, area/security, area/storage, cluster/main

Fix onepassword vaulk name
  infrastructure/controllers/external-secrets/onepassword/app/clustersecretstore.yaml
Labels: area/infrastructure

.github/labeler.yaml:

---
# Areas
area/apps:
  - changed-files:
    - any-glob-to-any-file: "apps/**/*"

area/flux:
  - changed-files:
    - any-glob-to-any-file:
      - "clusters/**/flux-system/**/*"
      - "infrastructure/controllers/flux-system/**/*"

area/github:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"

area/infrastructure:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/**/*"

area/monitoring:
  - changed-files:
    - any-glob-to-any-file:
      - "apps/monitoring/**/*"
      - "infrastructure/controllers/monitoring/**/*"

area/security:
  - changed-files:
    - any-glob-to-any-file:
      - "**/cert-manager/**/*"
      - "**/*.sops.*"
      - ".sops.yaml"

area/storage:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/controllers/storage/**/*"

area/talos:
  - changed-files:
    - any-glob-to-any-file: "infrastructure/talos/**/*"

# Clusters
cluster/main:
  - changed-files:
    - any-glob-to-any-file: "clusters/main/**/*"

# Types
type/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**/*"

type/dependency:
  - changed-files:
    - any-glob-to-any-file:
      - "**/Chart.yaml"
      - "**/requirements.yaml"
      - ".github/renovate.json5"

# Size labels are automatically handled by GitHub Actions
